::selection{
	background:#9C91C3;
	color:#fff;
}
::-moz-selection{
	background:#9C91C3;
	color:#fff;
}

h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
	}
ul, li{
	margin:0px;
	padding:0px;
}
a{
	color:blue;
}
form{
	margin:0px;
	padding:0px;
}
table{
	font-size:inherit;
}
body {
	margin: 0px;
	padding: 0px;
	color: #000;
	font-family: "Helvetica Neue",Helvetica,tahoma,Arial,Verdana,sans-serif;
	font-size: 11px;
	background:#fff;
}
a img {
	border: 0px;
}
.fleft{
	float:left;
}
.fright{
	float:right;
}
.searchcont{
	text-align:right;
	clear:both;
	padding:20px 0px 0px 0px;
}
.searchcont .links{
	float:right;
	margin-top:5px;
}
.searchcont .links a{
	margin-left:20px;
}
.newmenu{
	background:url(../images/new.png) no-repeat scroll right center;
	display: block;
    height: 17px;
    margin-bottom: -9px;
    margin-top: -8px;
    position: relative;
}
.cartheader .carticon{
	float:left;
	margin-top:3px;
	width:26px;
	height:18px;
	display:block;
	background:url(../images/imgprick.png) -6px -474px no-repeat;
}
.cartheader #nocartitems{
	float:left;
	margin-left:2px;
	background:#fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	padding:3px 7px;
	color:#000;
}
.cartheader .totalcont{
	color:#fff;
	font-size:110%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0px;
	float:left;
}
.cartheader .totalcont .total{
	font-size:130%;
	margin-left:2px;
	font-weight:bold;
}
.cartheader .checkout{
	float:right;
}
.cartheader .checkout a{
	display:block;
	background:#fff;
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
	text-decoration:none;
	text-align:center;
/*	background:url(../images/imgprick.png) -4px -215px no-repeat;*/
	width:88px;
	height:16px;
	border:1px solid #aaa;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	-webkitborder-radius:5px;
	border-radius:5px;
	padding-top:3px;
	font-size:110%;
}
.foretop .cartheader{
	background:#222;
	padding:7px 7px 3px 7px;
	float:right;
	-webkit-border-radius:7px 7px 0px 0px;
	-moz-border-radius:7px 7px 0px 0px;
	-o-border-radius:7px 7px 0px 0px;
	border-radius:7px 7px 0px 0px;
	min-width:200px;
	margin-top:1px;
	height:21px;
	clear:right;
}
.foretop .foretop_righttop{
	float:right;
	height:24px;
}
.foretop .bgover{
	background:#000;
}
.foretop a.link {
	clear:right;
    background: none repeat scroll 0 0 #555555;
    border: medium none;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 120%;
    font-weight: bold;
    margin-right: 5px;
    margin-top:4px;
    padding: 13px 23px 7px;
    text-decoration: none;
    height:18px;
}
.foretop a.selected {
    background: none repeat scroll 0 0 #000000;
    border-bottom-width: 0 !important;
    color: #FFFFFF;
}
.foretop .signinsignup{
	float:right;
	padding-top:3px;
}
.foretop .signinsignup a{
	margin-left:10px;
}
.foretop .signinsignup .fb{
	margin-top:2px;
	display:block;
	float:left;
	width:59px;
	height:16px;
	background:url(../images/imgprick.png) -6px -452px no-repeat;
}
.foretop .welcomecont{
	margin-left:15px;
	float:right;
	padding-top:2px;
	padding-bottom:0px;
	height:15px;
	width:240px;
	max-width:415px;
}
.foretop .loginlink{
	background:transparent !important;
	color:#FF67B2;
	text-decoration:none;
	float:none;
	padding-top:3px;
	display:inline-block;
	font-size:110%;
}
.foretop #display_name{
}
.header{
	clear:both;
	background:#000 url(../images/header_bg.png) repeat-x;
}

.mainsubcontainer {
	width: 100%;
}

.clear{
	clear:both;
	font-size:1px;
}
.clearleft{
	clear:left;
	font-size:0px;
}

.topitem{
	padding:5px 20px 0px 20px;
}

.bottomitem{
	background:#fff;
	margin:5px;
}
.menu{
	clear: both;
	background:#fff;
	padding:20px 10px 10px 10px;
	border:2px solid #ddd;
	border-top:0px;
	margin-bottom:15px;
}
.discover{
	clear:right;
	float:right;
	color:#EF7F1A;
	display:block;
	margin:5px;
	font-weight:bold;
	text-decoration:none;
	font-size:130%;
	margin-top:5px;
}
.menu ol{
	list-style:none;
	float:left;
	margin:0px;
	padding:0px;
}
.menu ol li.maintrig{
	display:block;
	margin:0px;
	padding:0px;
	height:33px;
	width:190px;
	margin-top:3px;
}
.menu ol li.maintrig span.maintrig{
	background:transparent url(../images/imgprick.png) -82px -497px;
	text-decoration:none;
	color:#fff;
	display:block;
	height:33px;
	width:188px;
	font-size:120%;
	font-weight:bold;
	cursor:pointer;
}
.menu ol li.maintrig:hover .menuflow, .menu ol li.maintrigopened .menuflow{
	display:block;
}
.menu ol li .icon{
	float:right;
	margin-top:-3px;
	width:27px;
	height:22px;
	display:block;
	background:url(../images/imgprick.png) -112px -215px no-repeat;
	-moz-border-radius:0px 3px 3px 0px;
	-o-border-radius:0px 3px 3px 0px;
	-webkit-border-radius:0px 3px 3px 0px;
	border-radius:0px 3px 3px 0px;
}
.menu ol li ul.menuflow{
	background:#F5F3F4;
	margin-top:-3px;
	position:absolute;
	width:185px;
	display:none;
	border-radius:0px 0px 3px 3px;
	z-index:13213244;
}
.menu ul {
	display:block;
    font-size: 110%;
    list-style: none outside none;
    margin: 0;
    padding: 0px;
    display:block;
    color:#000;
}
.menu ul li {
    display: block;
    float:left;
    font-weight: bold;
    margin: 0;
    padding:0px;
    z-index: 99999;
    font-size:120%;
}
.menu ul li.main {
	float:none;
	border-bottom:1px solid #ddd;
}
.menu ul li.main .line{
	border-bottom:1px solid #ccc;
	margin:0px 5px;
}
.menu ul li.main .raquo{
	float:right;
	color:#444;
	margin-top:-3px;
	font-size:120%;
}
.menu ul li.brands{
	background:#024769;
	float:right;
}
.menu ul li img {
}
.menu ul li img.left {
    float: left;
}
.menu ul li img.right {
    float: right;
    position: relative;
    z-index: 1000;
}
.menu ul li a {
    color: inherit;
    display: block;
    font-size: 85%;
    margin: 0;
    padding:7px 14px 5px;
    text-decoration: none;
}
.menu ul li a div {
    color: #999999;
    font-family: arial;
    font-size: 60%;
}
.menu ul li:hover a{
    background:#fff; #FCE8EE;
    color: #000;
}
 .menu ul li.selected{
 }
.menu ul li .menu_cont {
	box-shadow:1px 1px 12px rgba(65, 83, 118, 0.4);
    background: none repeat scroll 0 0 #FFFFFF;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
   	border-radius: 0 0 7px 7px;
	border:1px solid #A9B5CC;
    color: #FFFFFF;
    display: none;
    float: left;
    margin-left: 170px;
    margin-top: -29px;
    padding: 10px 10px 3px 10px;
    position: absolute;
    width:640px;
    z-index: 43433;
}
.menu ul li ul li {
    margin: 3px;
    text-transform: capitalize;
}
.menu ul li:hover .menu_cont {
    display: block;
}
.menu ul li ul a {
    border: 0 none;
    font-size: 12px;
    height: auto;
    margin-right: 5px;
    overflow: hidden;
    padding: 3px 5px;
    position: relative;
    text-align: left;
    white-space: nowrap;
   
}
.menu_cont .menu_links {
	float:left;
	width:420px;
	min-height:160px;
	border-right:1px solid #ccc;
}
.menu_cont .menu_links .col{
	float:left;
	width:210px;
}
.menu .menu_cont .mcats{
    float: left;
    width: 200px;
    padding-left:10px;
	border-left:1px solid #ccc;
	margin-left:-1px;
    margin-bottom:3px;
}
.menu .menu_cont .mcats h3{
margin-bottom:10px;
}
.menu .menu_cont .mcats ul li{
	display:block;
	float:none;
}	
.menu_cont .top {
    margin-bottom: 10px;
}
.menu_cont .menu_links ul {
    margin-top: 5px;
    margin-left:0px;
}
.menu_cont .menu_links li{
	float:left;
	width:200px;
	margin:0px;
	margin-right:5px;
	border:0px !important;
}
.menu_cont .menu_links .mcat{
	margin-top:5px;
}
.menu_cont .menu_links li a.mcata{
	font-weight:bold;
	padding-left:
}
.menu_cont .menu_links li a{
	border-bottom:1px solid #ccc !important;
}
.menu_cont .menu_links li ul{
	margin:3px 0px 0px 0px !important;
	
}
.menu_cont .menu_links li ul li{
	width:100px;
	overflow:hidden;
	margin:0px !important;
}
.menu_cont .menu_links li ul li a{
	border:0px !important;
	color:#333;
	font-size:11px;
	padding:5px 3px !important;
}
.menu ul li:hover ul li ul li a{
	color:#555 !important;
}
.menu ul li:hover ul li ul li a:HOVER{
	background:#eee;
	text-decoration:none;
}
.menu_cont .menuimg{
	width:200px;
	text-align:center;
	clear:right;
	float:right;
	color:#444 !important;
	font-size:13px;
	padding-top:10px;
}
.menu_cont .menuimg div{
	margin-top:10px;
}
.menu_cont .menuimg div h3{
	font-size:13px;
	color:#333;
	text-transform: capitalize !important;
}
.menu_cont .menuimg div a.link{
	float:right;
	display:block;
	padding:5px 10px !important;
	color:#000;
	background:#FFED00;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	margin-top:2px;
}
.top_pick a{
	background: #FFF !important;
}
.menu_cont .menu_links a, .menu_cont .mcats a {
	display:block;
    font-weight: normal;
    padding: 3px 5px !important;
    text-align: left;
}
.menu_cont .mcats a{
		border-bottom:0px !important;
}
.menu_cont .mcats a:hover{
	text-decoration:underline;
}
.menu_cont .menu_links a:hover{
	text-decoration:underline;
}
.menu_cont h3 {
    color: #996699;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0px 3px;
    text-transform: uppercase;
}
.menu_cont a {
    border: 0 none !important;
    display: inline;
    padding: 0 !important;
}
.menu_cont .deal {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ccc;
    float: left;
    height: 50px;
    margin: 3px 5px;
    padding: 3px;
    width: 60px;
}
.menu ul li:hover ul li a{
	background:transparent;
	color:#000;
}
.menu ul li ul li:hover a{
	background:#fff;
}
.menu .menu_cont .sellers {
    float: left;
    width: 260px;
}
.menu .menu_cont .sellers .best {
     background: none repeat scroll 0 0 transparent;
    margin-bottom: 5px;
}
.menu .menu_cont .top_pick {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-right: 13px;
    text-align: center;
    width: 200px;
}
.menu_cont .brands{
	clear:both;
	margin-top:10px;
	background:#FFED00;
	color:#000;
	padding:10px 20px;
}
.menu_cont .brands ul{
		list-style:square inside !important;
}
.menu_cont .brands li{
	border:0px;
}
.menu_cont .brands a{
	border:0px;
	display:block;
	font-weight:normal;
	color:#aaa;
	padding:2px 5px !important;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}
.menu_cont .brands a:hover{
	background:#777 !important;
	color:#fff !important;
}
.menu .homelink{
	padding-left:10px;
	padding-right:10px;
	-moz-border-radius:0px 0px 0px 7px;
	-webkit-border-radius:0px 0px 0px 7px;
	-o-border-radius:0px 0px 0px 7px;
	border-radius:0px 0px 0px 7px;
	width:22px;
	height:18px;
	padding:5px 7px 6px 7px;
	display:block;
	background:url(../images/imgprick.png) 0px -643px no-repeat;
}
.menu .homelink:hover{
	background:#3E3E3E url(../images/imgprick.png) -31px -643px no-repeat;
}
.menu_cont .viewall{
	clear:both;
	border-top:1px solid #aaa;
	padding:7px 5px;
	margin-top:2px;
}

.menu_cont .viewall a{
	font-weight:bold;
	font-size:12px;
	color:#333 !important;
	background:transparent !important;
}
.menu_cont ul{
	margin-left:5px !important;
}

.bender{
	display:inline;
	display:inline-block;
	padding-right:12px;
	color:#000;
	position:relative;
	overflow:visible;
	margin-bottom:10px;
}
.bender span{
	height: 5px;
    left: 0;
    display:block;
    position: absolute;
    text-indent: 0;
    top:-5px;
    width: 8px;
}
.bender .matter{
	min-width:100px;
	font-weight:bold;
	font-size:16px;
	height:23px;
	padding:7px 10PX 0px 15px;
}

.bc-green{
}
.bc-green .matter{
}
.bc-green span{
}

.bc-violet{
}
.bc-violet .matter{
}
.bc-violet span{
}

.bc-lightblue{
}
.bc-lightblue .matter{
}
.bc-lightblue span{
}

.bc-red{
}
.bc-red .matter{
}
.bc-red span{
}

.bc-black{
}
.bc-black .matter{
}
.bc-black span{
}

.bc-darkgreen{
}
.bc-darkgreen .matter{
}
.bc-darkgreen span{
}

.bc-orange{
}
.bc-orange .matter{
}
.bc-orange span{
}
	
.threemenucont .selected{
	background:#4F8996;
	color:#fff;
}
.threemenucont .middle{
	border:2px solid #000;
	border-width:0px 2px 0px 0px;
}

.threemenu{
	float:left;
	padding:0px 5px;
}	

.threemenu a{
	display:block;
	font-family:tahoma;
	color:#000;
	font-weight:bold;
	text-transform:uppercase;
	padding:3px 7px;
	margin-left:3px;
	text-decoration:none;
}

.subscribebut{
	float:right;
}

.subscribebut a{
	display:block;
	padding:10px;
	background:#EE604F;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	margin-right:10px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.itempricedet{
	width:560px;
	float:left;
	padding-left:5px;
	font-size:120%;
}

.itempricedet .pricedet_right{
	font-size:80%;
	text-align:center;
}
.itempricedet .pricedet_right div{
	margin-top:10px;
}	

.itempricedet .instant_trig, .addtocart_glob{
	display:block;
	padding:10px 10px;
	font-size:18px;
	width:150px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	background:#996699;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-align:center;
	cursor:pointer;
}
.itempricedet .instant_trig .icon, .addtocart_glob .icon{
	margin-top:-5px;
	margin-left:5px;
	background:url(../images/imgprick.png) -50px -115px no-repeat;
	width:30px;
	height:28px;
	float:left;
}
.itempricedet .instant_trig:hover, .addtocart_glob:HOVER{
	background:#5E405E;
}
.itempricedet .pricebar {
	padding:15px;
    background:#f7f7fa;
    border:1px dashed #ccc;
}
.itempricedet .pricebar h1{
	font-size:140%;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
}
.itempricedet .pricebar .pricedet{
	font-size:90%;
}
.itempricedet .pricebar .instantcashback{
	margin:10px 5px 25px;
	height: 30px;
	font-size:160%;
}
.itempricedet .pricebar .instantcashback b{	
	font-size:80%;cursor:pointer;
}
	
.pricebar .snapitcont{
	padding:5px;
	border-bottom:1px solid #ddd;float:left;
	width:280px;
}
.snapitcont .mrpcont{
	text-align:center;
	float:left;
	font-size:80%;
	margin-left:10px;
}
.freeshipping{
	padding:0px 5px;
	margin:0px !important;
	font-size:85% !important;
	font-weight:bold;
	text-align:center;
}
.snapit{
	font-size:150%;
	float:left;
	margin-bottom:7px;
}
.snapit b{
	color:#E31E24;
	font-size:110%;
	margin-left:5px;
	clear:left;
	display:block;
}
.snapitcont .mrpcont{
	margin:14px 0px 5px 0px;
	margin-left:10px;
}
.itempic .rollover, .itempic .viewlarge{
	float:right;
	color:#1A93DA;
	font-weight:bold;
	margin-left:6px;
}
.itempic .rollover{
	color:#aaa;
}
.itempic .viewlarge a{
	color:inherit;
	text-decoration:none;
}
.snapit .mrp{
	margin-top:-5px;
	float:left;
	margin-left:50px;
	font-size:10px;
	color:#000;
	text-decoration: line-through;
}
.taxfreeship{
	padding-left:30px;
	float:left;
	font-size:80%;
}
.taxfreeship .freeship{
font-size:120%;
font-weight:bold;
}.snapit .discount{
	font-size:60%;
}
.scplugins{
	clear:left;
	padding-top:35px;
	text-align:right;
}
.scplugins div{
	float:left;
	margin-left:10px;
} 
.addtocartbut{
	margin-left:10px;
	float:right;
	cursor:pointer;
}
.cod{
	padding-top:10px;
	font-size:130%;
}
.cod .bang{
	padding-right:60px;
	font-size:60%;
}
.itempricedet .spotlight, .itempricedet .groupbuy {
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 190px;
    margin: 10px 10px 0 0;
    width: 250px;
}
.itempricedet .addtocart{
	float:left;
	padding:5px 0px;
	font-size:90%;
	width:245px;
	padding:20px 5px 0px 5px;
}
.addtocart .text{
	padding-bottom:15px;
}
.itempricedet .spotlight{
	margin-right:0px;
	height: auto;
}
.spotlight .head,.groupbuy .head{
	font-size:120%;
	font-weight:bold;
	color:green;
	background:#D9D9D9;
	font-family:'trebuchet ms';
	padding:5px 10px;
	border-bottom:2px solid #ddd;
}
.itempricedet .spotlight{
	clear:left;
	width:515px;
}
.groupbuy .head{
	color:#333;
	font-size:100%;
	background:transparent;
}
.spotlight .cnt, .groupbuy .cnt{
	padding:5px 10px;
}
.spotlight .num{
font-size:240%;font-weight:bold;padding-right:5px;
}
.vdiscsa{
	width:300px;
	font-size:80%;
	margin-top:7px;
}
.vdiscsa .save{
	color:#F58728;
}
.vdiscsa .disch{
	display:inline-block;
	background:#ddd;
	padding:5px 15px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.vdiscsa div {
    font-size: 94%;
    font-weight: bold;
    margin: 5px 0 0;
} 
.vdiscsa .disc{
	color:#1E5B79;
}
.vdiscsa .value{
	color:#888;
	text-decoration:line-through;
}

.cod b{
	color:#F58728;
	font-size:120%;
}
.dealends{
	clear:right;
	text-align:center;
	float:right;
	padding:5px;
	font-size:105%;
	width:155px;
	height:35px;
	font-weight:normal;
	border-left:1px solid #ddd;
	margin:5px;
	margin-right:-5px;
	margin-top:10px;
}
.timercont{
	float:right;
	z-index:100;
	margin-right:33px;
	font-size:98%;
}
.dealends .instockcont{
	padding:7px 0px 15px 0px;
	font-size:80%;
}
.dealends .instockcont .shipnum{
color:#F58728;
font-weight:bold;
font-size:110%;
}
.instantoptcont{
	float:left;
	width:280px;
	margin:5px 0px;
}
.relatedbut
{
	display:inline-block;
	background:brown;
	color:#fff;
	font-weight:bold;
	padding:5px 10px;
	cursor:pointer;
	margin-top:5px;
}
.itempricedet .instant_trig_rev{
	font-size:80%;
	padding:5px 10px;
	width:auto;
	display:block;
	margin-top:10px;
}
.related{
	padding:5px;
	border:1px solid #ddd;
	-moz-border-radius:7px;
	border-radius:7px;
}
.related .item{
	padding:5px;
	background:#faf9f9;
	border-bottom:1px solid #ddd;
}
.related .item .img{
	float:left;
	width:65px;
}
.related .item .name{
	float:left;
	width:260px;
	font-size:95%;
	padding-top:10px;
	overflow:hidden;
	height:35px;
}
.related .item .name a{
	color:inherit;
	text-decoration:none;
}
.related .item .price{
	padding-top:10px;
	font-weight:bold;
	float:left;
}
.related .item .select{
	float:right;
	background:#eee;
	padding:7px 5px;
}

#countdown{
	font-size:110%;
	font-weight:bold;
}
#countdown span{
	color:#F58728;
	font-weight:normal;
}
.instock{
	height:49px;
	text-align:center;
	float:right;
	width:28%;
	padding:7px 10px;
	margin-top:12px;
	background:#fff url(../images/box2.png);
}
.itempricedet .ratingstar, .itempricedet .reviewcount{
	background:#E5F6C6;
	padding:2px 5px;
	margin:0px 0px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.itempricedet .reviewcount{
	margin-left:10px;
}
.itempricedet .reviewcount{
	background:#F9E7A4;
	color:#D37E00;
}
.reviewcount .num{
	font-size:165%;
	font-weight:bold;
}
.groupbuy .slothead{
	font-size:80%;padding:0px 7px;font-weight:bold;
}
.groupbuy .slotcont{
}
.groupbuy .slotcont .slot{
	cursor:pointer;
}
.groupbuy .slotcont .slot td{
	padding:7px;
	border-bottom:1px solid #ddd;
}
.slotcont .slotlast td{
	border-bottom:0px !important;
}
.slotcont .slothover td{
	background:#eee;
}
.slotcont .slotselected td{
	background:#CAE6FC;
}
.highlistinp{
	background:yellow;
	font-weight:bold;
}
.instock b{
	color:#000;
}
.container {
	width: 980px;
	text-align: left;
	margin: 0px 0px;
}
.itemphotos img{
	border:0px solid #eee;
}
.itempic{
background:#fff;
float:left;
width:400px;
overflow:hidden;
min-height:150px;
text-align:left;
margin-right:15px;
padding-top:10px;
}

#cz-cnt{
	position:absolute;
	z-index:100;
	width:350px;
	height:300px;
	display:none;
}
.doc {
	width: 945px;
}

.welcomeuser {
	text-align: right;
	font-size: 15px;
	color: #555;
}

.welcomeuser b {
	color: #444;
}

#hd {
	display: inline-block;	
	width: 100%;
}

.signout {
	background: #ddd;
	padding: 1px 3px;
	font-size: 9px;
	margin-left: 5px;
	color: #222;
	text-decoration: none;
	white-space: nowrap;
}

.itemmaincont{
	text-align:left;
}

.itemheading{
	color:#000;
	font-size:14px;font-weight:bold;padding-bottom:5px;text-align: left;margin:5px 0px 5px 0px;
	border-top:1px solid #ccc;
}
	
div.countdown {
	float: left;
	margin-left: 22px;
	text-align: center;
}

div.countdown div {
	float: left;
	height: 100%;
	padding-top: 5px;
	font-size: 20px;
	font-weight: bold;
	width: 45px;
	margin-left: 28px;
}

div.countdown div.day {
	margin-left: 3px;
	width: 55px;
}


#content {
}

h3 {
	margin: 0px;
}

.info {
	margin-top: 15px;
	background: #fff;
	width: 600px;
	border: 1px solid #aaa;
	padding: 10px;
	font-size: 15px;
	color: #444;
	margin-left: 20px;
	font-weight: bold;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.countdown_rtl {
	direction: rtl;
}

.countdown_holding span {
	background-color: #ccc;
}

.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}

.countdown_show1 .countdown_section {
	width: 98%;
}

.countdown_show2 .countdown_section {
	width: 48%;
}

.countdown_show3 .countdown_section {
	width: 32.5%;
}

.countdown_show4 .countdown_section {
	width: 24.5%;
}

.countdown_show5 .countdown_section {
	width: 19.5%;
}

.countdown_show6 .countdown_section {
	width: 16.25%;
}

.countdown_show7 .countdown_section {
	width: 14%;
}

.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}

.countdown_amount {
	font-size: 200%;
}

.countdown_descr {
	display: block;
	width: 100%;
}

.pages_heading h1{
	font-family:tahoma;
}

 #inf{
 display:none;
 background:#FCF8F5;
 padding:5px;
 margin:5px;
 font-size:14px;
 font-weight:bold;
 float:left;
 width:250px;
 }
div#fancy_div{
background:#fff;
}
 .headingtext{
 background:url(../images/fade.png) repeat-x;
 height:46px;
 padding:8px 0px 0px 15px;
 font-weight:normal;
 }
#countdown div b{
color:#e06823;
font-size:18px;
}
.breadcrumbs{
font-size:12px;
color:#606060;
}
.breadcrumbs a{
font-size:11px;
color:blue;
text-decoration:underline;
}
.breadcrumbs a:hover{
text-decoration:none;
}
#priceerror{
color:red;
display:none;
}
div#fancy_outer{
	z-index:32313 !important;
}
.footer_social a{
	display:block;
	height:24px;
	width:24px;
	float:left;
	margin-right:2px;
	background:url(../images/imgprick.png) -6px -617px no-repeat;
}
.footer_social a.tw{
	background-position:-37px -617px;
}
.footer_payopts div{
	float:left;
	width:49px;
	height:38px;
	background:url(../images/imgprick.png) -6px -491px no-repeat;
}
.footer_payopts .mastercard{
	background-position:-6px -528px;
}
.footer_payopts .verisign{
	width:94px;
	height:44px;
	margin-top:-3px;
	background-position:-6px -566px;
}
.footertop{
	padding:10px 0px;
	margin: 41px 0;
}
.feedback textarea{
	border:2px solid #aaa;
	width:100%;
	height:100px;
	margin:5px 0px;
}
.feedback .fd_email{
	border:2px solid #aaa;
	margin:5px 0px;
	width:100%;
}
.followus,.feedback{
	padding:10px 20px;
	border:1px solid #444;
	-moz-border-radius:10px;
	border-radius:10px;
	font-size:120%;
	color:#fff;
	background:#191811;
	height:80px;
	font-weight:bold;
}
.feedback{
	height:auto;
}
.subbutt{
	cursor:pointer;
	display:block;
	border:0px;	
	padding:7px;
	background:#EE604F;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	margin-right:2px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.followus img{
	float:left;
	width:50px;
	margin-right:5px;
}
.followus td div{
	padding-top:15px;
}
.ftlinks{
	padding-top:20px;
	font-size:130%;
	padding-right:15px;
}
.ftlinks a{
	color:inherit;
	font-weight:normal;
	text-decoration:none;
}
.upcomingcont{
	background:#CFD4D2;
}
.upcominghead{
	font-weight:bold;
	padding:20px 0px 70px 10px;
	background:#EC4B3D;
	text-transform:uppercase;
	color:#fff;
}
.upcominglist{
	-moz-border-radius:20px 20px 0px 0px;
	border-radius:20px 20px 0px 0px;
	background:#fff;
	padding:20px 10px;
	margin-top:-55px;
}
.upcominglist .discount{
	background:url(../images/discounttag.png) no-repeat;
	padding:0px 4px;
	width:33px;
	height:56px;
	text-align:right;
	font-size:13px;
	font-weight:bold;
	position:absolute;
	margin-top:-23px;
	padding-top:3px;
	z-index:1000;
}
.alrt_m_input,.alrt_e_input{
	width:100%;
	border:1px solid #aaa;
	padding:3px;
}
.alertmetrig{
	cursor:pointer;
}
.alertme,.requestme{
	display:none;
}
.assist{
	clear:right;
	float:right;
background:#eee;border:1px solid #ccc;padding:5px 7px;
border-radius:10px;
-moz-border-radius:10px;
color:#000;
margin-top:45px;
width:220px;
}
.upcominglist .list{
	margin:5px;
	width:260px;
	padding:15px;
	border:2px solid #ccc;
}
.welcome{
	color:#000;
	float:right;
	font-size:12px;
}
.welcome img{
	margin-bottom:-3px;
	max-width:100px;
}
.welcome .myorderlink{
	color:#fff;
	margin:0px 5px;font-size:90%;
}
#loginpanel{
	padding:5px;
}
#whatrucont{
	background:#191811;
	color:#fff;
	padding:20px;
	width:600px;
}
.footermid{
	margin-bottom:20px;
}
.footermid .patch{
	background:#191811;
	border:1px solid #444;
	-moz-border-radius:15px;
	border-radius:15px;
	height:140px;
	color:#fff;
	text-align:center;
	font-size:120%;
	margin-bottom:40px;
	margin:10px;
	padding:10px;
}
.joinhands{
	background:#CFD4D2;
}
.joinhands .headtop{
	color:#fff;
	text-transform:uppercase;
	background:#A84B7F;
	padding:20px;
	padding-bottom:60px;
}
.joinhands .handscont{
	padding:20px;
	font-size:120%;
	background:#fff;
	margin-top:-40px;
	-moz-border-radius:10px 10px 0px 0px;
	border-radius:10px 10px 0px 0px;
}
.cc_steps{
	float:right;
	font-size:90%;
	font-weight:bold;
}
.cc_steps div{
	float:right;
	color:#aaa;
	padding:0px 20px;
}
.cc_steps div span{
	background:#aaa;
	color:#fff;
	padding:3px 10px;
	-moz-border-radius:15px;
}
.cc_steps .done{
	color:#65A100;
}
.cc_steps .done span{
	background:#33AD00;
}
.cc_steps .active{
color:#333;
}
.cc_steps .active span{
	color:#111;
	background:#F7DF00;
}
.shipdet input{
	border:1px solid #bbb;
	width:97%;
	padding:5px;
}
.paysel{
	padding:15px 10px;
}
.mycart{
	float:right;
	margin-right:10px;
	background:#000;
}
.hdr_scplugin{
	margin-left:20px;
	float:left;
}
.invite_cw_cont{
	float:right;margin-top:15px;padding-left:10px;
	margin-right:20px;
}
.bubble{
width:96px;
height:76px;
color:#000;
font-weight:bold;
text-align:center;
padding-top:30px;
text-transform:uppercase;
}
.buyprocessbut{
	cursor:pointer;
}
.homehead{
background:transparent url(../images/shader.png) left center repeat-x;
}
.homehead div{
padding:5px 10px;
font-size:150%;
color:#fff;
font-weight:bold;
}
.couch_product
{
	background-image:url(../images/couch_logo.png) !important;
	background-position:right top;
	background-repeat:no-repeat;
}
.homecont{
/*	background:#F3F3F1 no-repeat center 10px;*/
	background:#fff;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:5px;
	margin-bottom:15px;
	box-shadow:0 0 5px 0 #CCCCCC;
}
.homecont .prod_count_found{
	display:block;
	background:#eee;
	float:right;
	margin-top:5px;
	color:#000;
	text-decoration:none;
	padding:7px 15px;
	border-radius:10px;
	border:2px solid #000;
	border-width:0px 2px 0px 2px;
}
.homecont .spot_deal_cont{
	background:#fff no-repeat right bottom;
	border:1px solid #eee;
	border-radius:10px;
}
.homecont table{
margin-top:5px;
}
.homecont table td{
border:1px solid #eee;
text-align:center;
padding:5px;
width:160px !important;
vertical-align:top;
}
.homecont table td div{
padding-top:5px;
}

.homecont .at{
background:#eee;
padding:3px 5px;
font-weight:normal;
color:#000;
-moz-border-radius:5px;
border-radius:5px;
text-decoration:none;
display:inline-block;
}
.homehead .hctitle{
background:url(../images/green_strip.png) right no-repeat;
display:inline-block;
padding-right:30px;
padding-left:0px;
}
.homehead .hptitle{
display:inline-block;
padding-right:30px;
padding-left:0px;
background:url(../images/blue_strip.png) right no-repeat;
}
.homehead .hptitle .cnt,.homehead .hctitle .cnt{
	font-size:100%;
	margin:0px;
	background:#007DC3;
	min-width:150px;
}
.homehead .hctitle .cnt{
background:#6EA100;
}
.brands_avail{
	padding-bottom:10px;
}
.brands_avail a{
	display:inline-block;
	margin:5px;
}
#cashbacktip{
	position:absolute;
	width:200px;
	text-align:left;
	border:1px solid #aaa;
	background:#fff;
	padding:3px 10px;
	font-size:11px;
	-moz-border-radius:10px;
	border-radius:10px;
	display:none;
	height:60px;
}
#cashbacktip div{
	padding:3px 0px;
}
#cashbacktip span{
	float:right;
}
#cashbacktip .final{
	font-weight:bold;
	border-top:1px dashed #aaa;
}
.dealdlist{
min-height:355px;
float:left;
width:230px;
text-align:center;
margin-bottom:10px;
padding:12px 8px;
}
.product_hover{
	box-shadow:0 0 5px 0 #CCCCCC;
}
.dealdlist .instantcashback{
	color:red;font-weight:bold;font-size:110%;
	padding-top:10px;
}
.dealdlist .gbenabled{
    float: right;
    margin-top: -18px;
    position: relative;
    z-index: 3;
}
.dealdlist .ofs{
    float: left;
    margin-top: -18px;
    position: relative;
    z-index: 3;
}
.dealdlist .imgcont{
height:200px;
}
.dealdlist .namecont{
	font-weight:normal;
	height:70px;
	padding:0px 5px;
	position:relative;
	overflow:hidden;
}
.dealdlist .addcart_quick_cont{
	font-size:11px;
	cursor:pointer;
	padding:7px 15px 0px 15px;
	height:23px;
	background:#D9DB7B;
	margin-top:3px;
	margin-right:10px;
	display:none;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.dealdlist .addcart_quick_cont label{
	cursor:pointer;
}
.dealdlist .addcart_quick_added{
	background:#ff9900;
	color:#fff;
	cursor:normal;
	font-weight:bold;
}
.dealdlist .imgcont a{
	display:block;
	max-height:200px;
	overflow:hidden;
}
.dealdlist .price{
color:#888888;
font-size:100%;
min-height:35px;
}
.dealdlist .save{
font-size:90%;padding:0px;
}
.dealdlist .save b{
	color:red;
	font-size:125%;
}
.product_hover .freeshipping{
	display:none;
}
.product_hover .addcart_quick_cont{
	display:inline-block;
}
.linebreak{
	clear:both;
	border:1px solid #ccc;
	border-width:1px 0px 1px 0px;
	width:100%;
	height:2px;
	margin-bottom:15px;
}
.dealdlist .mrp{
padding-top:0px;color:#555;
    display: inline;
    font-size: 75%;
}
.dealdlist .freeshipping{
	text-align:left;
	padding:0px 5px;
}
.dealdlist .freeshipping span{
	font-size:10px;
	color:#aaa;
}
.pink{
	color:#FF67B2;
	color:#FF51A6;
}
.lava{
	color:#996699;
}
.maroon{
	color:#DD0017;
}
.violet{
	color:#7F71B1;
}
.gold{
	color:#ff9900;
}
.blue{
	color:#1A93DA;
}
.red{
	color:red;
}
.yellow{
	color:#FFED00;
}
.purple{
	color:purple;
}
.green{
	color:#6EA100;
}
.bold{
	font-weight:bold;
}
.dodcont{
	padding:10px;
	width:550px;
	padding-left:35px;
}
.howitworks{
	font-size:12px;
	font-weight:bold;
	color:#fff;
}
.dodhigh{
background:#eee;-moz-border-radius:5px;padding:7px;
margin-right:10px;
}
.headlogincont{
 float:right;margin-right:0px;margin-top:-10px;
 clear:right;
}
.headlogin{
	display:inline-block;
	text-align:center;
	color:#fff;
	text-decoration:underline;
	margin-left:15px;
	font-size:120%;
	font-weight:bold;
}
.headlogin img{
	margin-top:5px;
}
.indsignupcont{
	height:115px;
	padding:0px;
	padding-left:20px;
	padding-top:30px;
	background: url(../images/signuplay.png) no-repeat;
}
#buyprocess{
}
.exclusive{
	float:right !important;
}
.exclusive a{
	border-right:0px !important;
	color:#6EA100 !important;
}
.exclusive:hover,.exclusive a:hover{
	background:transparent !important;
}
.verifiedcont{
	font-size:12px;
	float:left;
	display:inline-block;
	margin-top:0px;
}
.cw_more_info{
display:none;
}
.cw_more_info .profbots{
display:none;
}
.p_head{
	padding:5px;
	background:#efefef;
	border-bottom:1px solid #aaa;
}
.profbots{
background:#E8EFF1;
color:#000;
-moz-border-radius:10px;
height:400px;
border:1px solid #bbb;
margin:10px;
}
.profbots .head{
border-bottom:1px solid #bbb;
background:#Eee;
-moz-border-radius:10px 10px 0px 0px;
font-weight:bold;
font-size:120%;
padding:10px;
}
.profbots .cont{
padding:10px;
-moz-border-radius:0px 0px 10px 10px;
}
.tabscount{
width:70px;
border-radius:10px;
color:#fff;
font-weight:bold;
font-size:200%;
text-align:center;
padding:10px 5px;
margin:10px;
height:60px;
}
.tabscount div{
font-size:12px;
}
.proftable td{
vertical-align:top;
}
.dashbrd td{
vertical-align:top;
}
.recpurch{
background:#fff;
border-top:2px solid #eee;
border-bottom:1px solid #ccc;
padding:7px 10px;
}
.recpurch .trig{
cursor:pointer;
}
.recpurch .arrow{
float:right;
display:none;
margin-top:-10px;
font-weight:bold;
font-size:140%;
}
.rechover{
background:#CAE6FB;
}
.recselected{
background:#eee;
}
.recselected .arrow, .rechover .arrow{
display:block !important;
}
.recpurch .dealdet{
display:none;
border-radius:0px 10px 10px 0px;
background:#fff;
padding:10px;
paddingtop:30px;
margin-left:342px;
position:absolute;
width:342px;
height:175px;
border:1px solid #aaa;
border-left:0px;
}
.lk_cont div{
margin:20px;
}
.cw_infosel{
background:#ddd;
}
.cw_infohvr{
background:#CAE6FB;
}
.cw_infoshw{
cursor:pointer;
}

.bp_start{
	width:770px;
	height:447px;
	background:#fff url(../images/gb_bg.png) no-repeat;
}
.bp_start .head{
	padding:20px 0px 0px 20px;
	padding-top:90px;
	font-size:120%;
	height:30px;
}
.bp_start .cont{
	margin-top:10px;
}
.bp_start .cont table td{
	padding:5px 20px;
}
.bp_start .cont table td.top_cont{
	height:210px;
	padding-top:5px;
	vertical-align:top;
	font-size:110%;
}
.bp_start .cont .c_head{
	display:inline-block;
	background:#FAD738;
	font-size:135%;
	font-weight:bold;
	padding:5px 10px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #aaa;
}
.bp_start .cont .text{
	padding:40px 20px;
	padding-bottom:0px;
	font-size:120%;
}
#qty{
	padding:5px;
	font-size:105%;
}

.bp_startf{
background:#fff;
width:800px;
}

.star_rating img{
	cursor:pointer;
}

.bp_startf .head{
	text-align:left;
	font-weight:bold;
	font-size:140%;
	background:#D3DBD2;
	padding:15px;
}

.bp_startf .cont{
	padding:0px;
}
.bp_startf table{
	text-align:left;
	width:100%;
}
.bp_startf table td{
	vertical-align: middle;
	padding:20px;
}
.bp_startf .wbrdr td{
	border-top:1px solid #aaa;
}

#cws_min{
	font-size:110%;
}	
.snapitbutt{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	display:inline-block;
	color:#fff;
	padding:3px 5px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#FCB855;
	border:1px solid #F29F2B;
	font-size:11px;
}
.signlink{
	  display: inline-block;
    margin-bottom: 5px;
    margin-right: 16px;
    margin-top: 44px;
}

.review{
	margin-bottom:7px;
	background:#fff;
	border-bottom:1px dotted #aaa;
	padding:5px;
	padding-bottom:10px;
}
.review .rate{
	padding:3px 0px;
}
.review .date{
	font-size:10px;
}
.review .rate img{
	height:15px;
}
.review .name{
	font-weight:bold;
	padding:5px 0px;
	font-size:140%;
	text-transform:capitalize;
	color:#004B91;
}
.review .flags{
	padding-top:10px;
}
.review .head{
	padding:5px 0px;
	font-size:140%;
	font-weight:bold;
}
.review .flags img{
	padding:2px;
}
.review .thumbscont{
	font-size:90%;
	height:20px;
}
.review .thumbscont .thumbs{
	display:none;
}
.review .thumbscont .thumbs a{
	font-weight:bold;
}
.review .useful{
		font-size:90%;
}
.review .load{
	display:none;
	float:right;
}
.review .cont{
	padding:5px 5px 0px 5px;
	font-size:110%;
	min-height:70px;
}
#reviewscont{
	padding-top:5px;
}

.shipdet{
	font-weight:bold;
}
.shipdet input{
	border:1px solid #aaa;
	background:#f1f1f1;
}

.indexsigninup{
padding:10px 10px 20px 10px;
padding-left:0px;
}
.indexsigninup h1{
margin-bottom:0px;font-size:260%;
}
.indexsigninup h3{
padding-left:5px;
padding-top:5px;
}
.indexsigninup .panel{
}
.indexsigninup .panel a{
display:inline-block;
font-size:150%;
color:#43B9D6;
padding:10px;
text-decoration:none;
font-weight:bold;
margin:0px 5px;
}
.indexsigninup .panel a.selected{
color:#183C44;
}
.panel a.first{
border-right:2px solid #3493A8;
padding-right:15px;
}
.indexsigninup .links{
width:70%;
background:#fff;
color:#000;
padding-left:50px;
border-bottom:2px solid #3493A8;
opacity:0.8;
filter:alpha(opacity=80);
}
#indemailfrm{
color:#163C44;
font-weight:bold;
margin-top:10px;
font-size:120%;
}
.indemail{
width:240px;
font-size:100%;
padding:7px 10px;
}

.indemailtable{
height:255px;
color:#000;
width:465px;
font-weight:bold;
padding:5px;
padding-right:10px;
}
.indemailtable td{
width:50%;
padding:6px;
}
#social_icons img{
	cursor:pointer;
}
.exclicons td{
text-align:center;
font-size:20px;
font-weight:bold;
padding:20px 0px;
width:33%;
}
.exclicons .text{
font-size:60%;font-weight:bold;width:230px;margin:0px 40px;
margin-top:10px;
}
.indemailtable input{
width:100%;
padding:0px;
padding-left:5px;
height:35px;
border:1px solid #D9D9D9;
font-size:10pt;
box-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
}
.indemailtable .input{
	padding:4px;
	background:#EFEFEF;
	margin-bottom:5px;
}
.indsignintable{
padding:10px;
padding-right:20px;
}
.indsignintable td{
font-size:100%;
width:auto;
padding:3px !important;
}
#invalidemail{
color:red;
font-size:70%;
padding-bottom:5px;
display:none;
}
.resetoverrid ul,.resetoverrid li{
	margin:auto;
	padding:auto;
}
.getverified{
	border:2px solid #aaa;
	border-radius:10px;
	padding:20px;
	font-size:115%;
	margin:40px 30px;
}
.getverified .head{
	float:left;
	font-weight:bold;
	font-size:130%;
	padding:5px 10px;
	background:#fff;
	margin-top:-35px;
	margin-left:30px;
}
.home_exclu{
	padding-left:1px;
	width:350px;height:270px;position:relative;overflow:hidden;
}
.home_exclu td{
	vertical-align:top;
	border-right:1px solid #ccc;
}
.home_exclu .img{
	width:98px;
	height:87px;
	position:relative;
	overflow:hidden;
}
.home_exclu .price{
	background:#eee;
	padding:3px;
	color:#E31E24;
}
.home_exclu .price span{
	color:#333;
	font-size:85%;
	text-decoration:line-through;
}
.home_exclu .name{
	height:15px;
	overflow:hidden;
}
.circle tr td{
	vertical-align:center;
	border:1px solid #aaa;
}
.circle tr td h2{
	font-size:200%;
	margin-bottom:15px;
}
.circle tr td:FIRST-CHILD{
	border-radius:15px 0px 0px 15px;
}
.circle tr td:last-CHILD{
	border-radius:0px 15px 15px 0px;
}

.iconset{
	WIDTH:390PX;
	background:#f5f5f5;
	padding-left:10px;
}
.iconset table{
	background:#F5F5F5 url(../images/iconset_bg.png) no-repeat;
	height:387px;
	margin-top:5px;
}
.iconset .deal{
	padding-top:3px;
	text-align:center;
	width:110px;
	position:relative;
	height:110px;
	cursor:pointer;
}
.iconset .deal .img{
	height:49px;
	width:110px;
	margin:3px;
	position:relative;
	overflow:hidden;
}
.iconset .deal .title{
	color:#888;
	padding-top:2px;
	height:28px;
	position:relative;
	overflow:hidden;
	font-size:90%;
}

.dealscontainer{
	-moz-border-radius:5px;
	border-radius:5px;
	background:#FFF;
	padding:10px;
	border:1px solid #ccc;
	margin-bottom:10px;
}

.dod{
	background:#efefef;
	padding:10px;
	width:250px;
}
.dod .img{
	position:relative;
	width:250px;
	height:185px;
	overflow:hidden;
}
.dod .name{
	color:#777;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:140%;
	padding:3px 0px;
}
.dod .buynow{
	float:right;
	margin-top:10px;
}
.dod .price{
	color:#69AB35;
	font-weight:bold;
	font-size:150%;
	padding:5px 0px 0px 5px;
}
.dod .mrp{
	padding:0px 0px 0px 5px;
	text-decoration: line-through;
}
.banners{
	padding:0px 0px 10px 0px;
}
.banners .skyscrp{
	margin-right:15px;
}
.banners .hbanner{
	text-align:center;
	padding:7px 0px 14px 0px;
}
.banners .boxbanner{
	display:inline-block;
	width:364px;
}
.exclusive_home
{
	float:right;
	width:235px;
}
.exclusive_home .deal .discount{
	background:url(../images/strip/discount.png) no-repeat;
	width:23px;
	height:24px;
	float:right;
	top:-7px;
	z-index:1;
	margin-bottom:-25px;
	font-size:7px;
	color:#fff;
	position:relative;
}
.exclusive_home .deal .discount img{
	float:right;
}
.exclusive_home .deal .cat{
	float:left;
	font-size:10px;
	margin-top:-15px;
	z-index:1;
}
.exclusive_home .deal .cat a{
	color:#777;
	text-decoration: none;
}
.exclusive_home .deal .img{
	position:relative;
	height:120px;
	width:160px;
	overflow:hidden;
}
.exclusive_home .deal{
	background:#fff;
	width:200px;
	border:1px solid #ccc;
	padding:3px;
}
.exclusive_home .deal .price{
	color:#69AB35;
	font-weight:bold;
	float:right;
}
.exclusive_home .deal .namecont{
	padding:3px;
	text-align:left;
}
.exclusive_home .deal .name{
	width:135px;
	white-space: nowrap;
	position:relative;
	overflow: hidden;
}

.bottomitem{
	background:#fff;
	margin:5px;
}
.everything{
float:right;
padding:10px 50px 10px;
}


.disc_bg{
	padding:5px;
	background:#f9f9f9;
	font-family:"helvetica neue",arial,sans-serif;
	color:#000;
}
.disc_head_cont{
	padding:10px;
}
.disc_op_links_cont{
background:#f9f9f9;
margin-bottom:7px;
}
.disc_head{
	font-size:140%;
	font-weight:bold;
	padding:5px 0px;
	color:#EF7F1A;
}
.blacklink{
	color:inherit;
	text-decoration: none;
}
.blacklink:hover{
	text-decoration: underline;
}
.redlink{
	color:#000;
	text-decoration: none;
}
.redlink:hover{
	color:red;
	text-decoration: underline;
}
.d_follower{
	padding:5px;
	margin:5px 0px;
	border:1px solid #aaa;
	border-width:1px 0px;
}	
.d_tag{
	width:740px;
	float:right;
	padding:10px 0px;
	border:1px solid #aaa;
	background:#fff;
	margin:5px;
}
.d_tag .lovers, .d_tag .retags{
	padding:5px;
	border:1px solid #ccc;
	border-width:1px 0px;
	margin-top:20px;
}
.d_tag .lovers h4{
	margin:0px;
}
.d_tag .lovers ul{
	display:block;
}
.d_tag .lovers ul li{
	float:left;
	margin:3px;
	list-style: none;
}
.d_tag .lovers ul li a{
	display:block;
	width:50px;
	height:50px;
	overflow:hidden;
}
.d_tag .comment{
	border:1px solid #ddd;
	margin-top:10px;
}
.d_tag .comment .write{
	background:#ddd;
	margin:0px -22px;
	padding:5px;
	padding-left:20px;
}
.d_tag .head{
	padding:10px 20px;
	border-bottom:1px solid #ccc;
}
.d_tag .cont{
	padding:10px 20px 20px 20px;
}
.d_tag .cont .tagname{
	padding:5px 0px;
	font-size:105%;
}
.d_tag .head img{
	float:left;
	margin-right:10px;
}
.d_tag .head a{
	text-decoration:none;
	color:inherit;
}
.d_tag .head a:hover{
	text-decoration:underline;
}
.d_sidepanel{
	float:left;
	width:190px;
	padding:15px;
	background:#fff;
	margin:5px;
	border:1px solid #aaa;
}
.d_sidepanel h1{
	font-weight:300;
}

.d_rightpanel{
	float:right;
	width:740px;
	padding:10px 0px;
}

.d_user_head{
	font-size:110%;
	border:2px solid #ccc;
	border-width:2px 0px;
	padding:7px 5px;
	margin-bottom:10px;
}

.d_user_head a{
	color:#000;
	margin:0px 5px;
	display:inline-block;
}
.d_user_head span{
	color:red;
}
.d_acts{
	font-size:90%;
	margin:0px -15px;
	border-top:1px solid #ddd;
	padding:5px;
}
.d_acts div{
	clear:both;
	margin:8px 0px;
}
.d_acts .img{
	margin-top:-5px;
	padding-right:5px;
	float:left;
	width:50px;
	height:50px;
	overflow:hidden;
}
.d_acts a{
	color:#000;
	font-weight:bold;
	text-decoration:none;
}
.d_acts a:hover{
	color:red;
	text-decoration:underline;
}
ul.disc_cont{
	display:block;
	margin-left:-15px;
}
ul.disc_cont li{
	float:left;
	margin:0 0 15px 15px;
	width:222px;
	list-style:none;
}
ul.disc_cont li.col{
	width:200px !important;
	padding:10px;
	margin-left:10px;
	margin-top:10px;
}
ul.disc_tags_cont li{
	width:190px !important;
	margin-left:10px !important;
}
.d_s_tag{
	background:#fff;
	border:1px solid #aaa;
	margin-bottom:10px;
}
.d_s_tag h3{
	font-size:12px;
	font-weight:300;
	height:16px;
	overflow:hidden;
	padding:9px 5px 0;
}
.d_s_tag .img{
	text-align:center;
	display:block;
	width:175px;
	margin-top:7px;
	margin-left:7px;
	overflow:hidden;
}
.d_s_tag .bottom{
	margin-top:5px;
	background:#dedede;
	padding:5px;
}
.d_s_tag .bottom a{
	color:inherit;
	font-weight:bold;
}
.d_s_tag .bottom a:hover{
	color:red;
}
.d_board{
	background:#fff;
	border:1px solid #aaa;
}
.d_board h3{
	font-size:13px;
	height:16px;
	overflow:hidden;
	font-size:13px;
	padding:9px 15px 0;
}
.d_board a{
	display:block;
	height:200px;
	overflow:hidden;
	padding:9px 0 4px 15px;
}
.d_board a .img{
	float:left;
	height:61px;
	margin:0 4px 4px 0;
	width:61px;
}
.disc_op_links{
	clear:both;
	padding:5px;
	font-size:130%;
	color:#000;
	padding-left:20px;
}
.item_disc_links{
	float:right;
	margin-left:15px;
}
.item_disc_links img{
	cursor:pointer;
	margin-right:5px;
}
#disc_cat{
	padding:5px;
	min-width:150px;
}
.disc_head_links{
	padding:5px;
	float:right;
}
.disc_head_links a{
	color:inherit;
	margin-left:20px;
	display:inline-block;
}
.disc_head_links a img{
	float:left;
	margin-right:5px;
	margin-bottom:-5px;
}
.disc_inp{
	padding:7px;
	font-size:15px;
}
#disc_add_url,#disc_create,#disc_add,#disc_add_upload,#disc_add_final{
	white-space:nowrap;
	font-size:150%;
	padding:20px;
}
#disc_add_final .img{
	float:left;
	clear:left;
	width:200px;
	height:200px;
	margin-top:10px;
	overflow:hidden;
	border:1px solid #eee;
}
.disc_imglinks{
	background:#eee;padding:3px;font-size:11px;float:left;clear:left;width:200px;
	margin-top:5px;
}

.d_user_social_links{
 margin:5px -15px;padding:5px 10px 0px 10px;border-top:1px solid #ddd;
 }
.d_user_social_links a{
margin-right:10px;display:inline-block;
}
.refine{
	border:0px;
	padding:0px;
	width:195px;
	margin-right:-7px;
	float:left;
	margin-left:0px;
	border:1px solid #ccc;
}
.refine .top{
	background:url(../images/shadow_bottom.png) center bottom no-repeat;
}
.refine .imghead{
background:url(../images/refine_head.png) no-repeat;
margin:-5px;
}
.refine .top .head{
	background:#F5F3F4;
	text-align:center;
	text-transform:uppercase;
	padding:15px 5px;
	font-size:120%;
	font-weight:bold;
	color:#000;
	border-radius:5px 5px 0px 0px;
}
.refine .bottom{
	border-width:0px 1px;
	padding-bottom:50px;
	background:#fff;
}
.refine h2{
	padding-top:55px;
}
.refine h3{
	padding:6px 5px;
	color:#996699;
}
.refine_but{
	margin-left:5px;
	font-weight:bold;
	cursor:pointer;
	padding:7px 5px;
	border-bottom:1px dashed #aaa;
}
.refine_but input{
	display:none;
}
.refine_but .xp{
	padding:4px;
	margin-top:2px;
	margin-right:5px;
	float:left;
	border:1px solid #777;
	background:#fff;
	height:3px;
	width:3px;
}
.refine_but a{
	color:inherit;
	text-decoration:none;
}
.refine_but_unselected .xp{
}
.refine_price, .refine_price .xp{
}
.refine_cat, .refine_cat .xp{
}
.refine_but_selected .xp{
	background:#996699;
}
.refine_but_hover{
	background:#f1f1f1;
}
.refine_but_unselected{
}

.blist{
	font-size:120%;
	margin-left:20px;
	margin-bottom:40px;
	min-height:100px;
}
.blist h2{
	margin-bottom:10px;
}
.blist a{
	color:#555;
	text-decoration:none;
}
.blist a:hover{
	color:blue;
	text-decoration:underline;
}
.blist_navi {
	padding:10px;
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
}
.blist_navi a{
	display:inline-block;
	margin:5px;
	font-weight:bold;
	color:#555;
}
.itemlovers{
	clear:left;
	padding-top:10px;
}
.indsignuptable{
	margin-top:30px;
	padding-top:5px;
}
.indsignuptable td{
	padding:3px 20px !important;
}
.size-but{
	border:1px solid #aaa;
	padding:2px;
	margin:0px 1px;
}
.size-but-selected{
	background:#FF8B12;
}
.scrm_load{
	padding-top:40px;
}
.scrm_data{
	display:none;
}
#suggest_srch{
	position:absolute;
	z-index:434335;
	top:0px;
	width:289px;
	border:1px solid #e3e3e3;
	border-top:0px;
	background:#fff;
	overflow:hidden;
	display:none;
	border-top:1px solid #e3e3e3;
}
#suggest_srch .sug_s_links{
	border-bottom:1px dashed #ccc;
	color:#555;
	padding:5px;
	display:block;
	text-decoration:none;
}
#suggest_srch .sug_s_links_diff_bg{
	background:#efefef;
}
#suggest_srch .sug_s_links:hover{
	background:#1A93DA;
	color:#fff;
}
#suggest_srch .sug_s_links:last-child{
}
#sug_s_loading{
	display:none;
    margin: 8px 0 5px -22px;
    position: absolute;
}
.phone{
margin-right:5px;
float:right;
color:#FFED00;
font-size:120%;
}
.phone div{
}
.phone div.timing{
	font-size:9px;font-weight:normal;color:#fff;white-space:nowrap;
}
.extralinks{
	float:right;
	clear:right;
	margin-top:10px;
}
.header_banner{
	float:left;margin-left:50px;
	margin-top:20px;
}
.extralinks .brands{
	font-size:130%;
	font-weight:bold;
	display:block;
	float:right;
	padding:5px 10px;
	text-decoration:none;
	color:#fff;
}
.transaction h1{
	margin:10px 0px;
}
.transaction h1{
	margin:5px 0px;
}
.transaction table{
	margin:20px;
}
.tagsloading{
	border:1px solid #bbb;
	background:#ddd;
	padding:7px;
	text-align:center;
	color:#555;
	font-weight:bold;
	display:none;
}
.notagstoload{
	border:1px solid #800;
	color:#a00;
	font-weight:bold;
	text-align:center;
	padding:5px;
	background:#eee;
	display:none;
}
.attention{
background:#FFED00;
padding-top:3px;
display:none;
border-bottom:1px solid #111;
}
.attention .cont{
	font-size:12px;
	margin:0px;
	background:#FFED00 url(../images/speaker.png) no-repeat;
	padding:5px;
	color:#000;
	text-align: left;
}
.attention .cont .close{
	background:#AB221B;
	color:#fff;
	cursor:pointer;
	float:right;
	margin:0px 10px;
	padding:3px;
	font-size:80%;
	font-weight:bold;
}
.attention .cont a{
	color:#000;
	margin:0px 5px;
	text-decoration:none;
	font-size:90%;
}
.attention .bar{
	clear:both;
	background:#fff;
	padding-top:1px;
}
.attention .bar div{
	border-bottom:2px solid #777;
}
.fav_container{
	padding:10px 0px;
}
.fav_heading{
	margin:5px 0px;
}
.fav_desc{
	font-weight:bold;
	text-align:center;
	margin:10px 0px;
	font-size:130%;
	background:#4BC0E2;
	color:#fff;
	padding:15px 7px;
}
.fav_cats .cat{
	width:325px;
	padding:10px 0px;
	height:200px;
	border:1px dashed #aaa;
	border-width:0px 1px 1px 0px;
	float:left;
}
.fav_cats .left{
	border-left-width: 1px;
}
.fav_cats .top{
	border-top-width: 1px;
}
.fav_cats .cat div{
	width:135px;
	margin-right:5px;
	height:200px;
	float:left;
}
.fav_cats .cat .img{
	width:175px;
}
.fav_cats .cat a{
	display:block;
	height:100%;
	color:inherit;
	text-decoration:none;
}
.fav_cats .cat .title{
	color:#024769;
	font-size:160%;
	font-weight:bold;
	height:90px;
	overflow:hidden;
	display:block;
}
.fav_cats .cat .link{
	display:block;
	color:#fff;
	font-weight:bold;
	font-size:120%;
	padding-top:3px;
	text-align:center;
	width:143px;
	height:30px;
	background:url(../images/button_bg.png) no-repeat;
}
.fav_cats .cat .locked{
	float:none;
	background:#ffaa00;
	color:#000;
	margin:0px;
	display:block;
	position:absolute;
	width:325px;
	opacity:0.8;
	filter:alpha(opacity=80);
	height:130px;
}
.fav_cats .cat .locked .text{
	display:block;
	text-align:center;
	margin:0px;
	font-size:160%;
	font-weight:bold;
	padding:40px 0px 10px 0px;
}
.leftcont{
	float:left;
	width:740px;
	padding:5px;
	padding-bottom:20px;
}
.shoppingcart .offer{
	font-size:12px;
}
.shoppingcart .offer tr td{
	border-bottom:1px solid #ddd;
}
.shoppingcart .freesamples tr td a{
	text-decoration:none;
	color:inherit;
}
.shoppingcart .freesamples_sel td{
	border:1px dashed #aaa;
}
.shoppingcart .couponcont{
	background:#eee;
	padding:7px;
	width:300px;
	border:1px solid #aaa;
	border-radius:5px;
}
.shoppingcart .couponcont .head{
	background:#ccc;
	margin:-7px;
	margin-bottom:10px;
	padding:5px;
	font-size:110%;
}
.shoppingcart .ordersummary{
	border:1px solid #aaa;
	background:#eee;
	border-radius:5px;
}
.shoppingcart .ordersummary .head{
	font-size:110%;
	background:#ccc;
	padding:7px;
	font-weight:bold;
}
.cart_select_freesamples{
margin:15px 0px;padding:0px 5px;font-size:110%;border:1px solid #ddd;
padding:5px;
}
.shoppingcart{
	border:2px solid #dcdcdc;
	border-width:5px 2px 0px 2px;
}
.shoppingcart .offers{
	float:right;
	width:215px;
	padding-top:10px;
	margin-right:10px;
}
.shoppingcart .offers .offer{
	margin-bottom:10px;
	border:2px solid #eee;
}

.shoppingcart .offercont{
	padding:10px;
}
.shoppingcart .offers .offeritem{
	padding:5px;
	font-size:12px;
	font-weight:normal;
}
.shoppingcart .offers .offer h3{
	margin-bottom:0px;
	background:#eee;
	padding:6px;
}
.shoppingcart .removelink{
	color:#777;
	font-size:11px;
}
.shoppingcart .itemurl{
	color:#555;
	text-decoration:none;
}
.shoppingcart .itemurl:hover{
	text-decoration:underline;
}
.shoppingcart .recentsold .offeritem{
	font-size:10px !important;
}
.shoppingcart .offeritem ul{
	margin-left:10px;
	font-family:10px;
}
.shoppingcart .offeritem ul li{
	margin-bottom:5px;
}
.shoppingcart .offeritem ul a{
	text-decoration:none;
	color:inherit;
	font-size:11px;
}

.shoppingcart #checkoutaddress{
	padding:5px;
	padding-top:20px;
	display:none;
	border-top:0px solid #aaa;
}
.shoppingcart .cartcont{
	font-size:11px;
}
.shoppingcart .addrtop{
	padding-top:20px;
}
.shoppingcart .useraccount{
	background:#ffffa0;
	font-weight:bold;
	padding:10px;
	
}
.shoppingcart .useraccount .mand{
	padding:5px;
	width:200px;
}
.shoppingcart .addrtable{
	width:600px;
	font-size:14px;
}
.shoppingcart .payment_method_cont{
	margin-left:20px;
}
.addrtable input.mand{
	padding:5px;
	min-width:200px;
	 
	border:1px solid #aaa;
	color:#444; 
}

.strike{
	text-decoration: line-through;
}
.plus{
	margin-top:2px;
	font-size:130%;text-decoration:none;margin-bottom:-2px;display:inline-block;
	border-radius:10px;background:#ddd;
	padding:0px 5px;
}
.onestop{
	margin-top:10px;
}
.home_sidepane{
	float:left;
	width:210px;
}
.home_sidepane h1{
	text-transform: uppercase;
	padding:5px 0px;
	border-bottom:1px dashed #ff9900;
	margin-bottom:2px;
}
.home_sidepane .shopby{
	margin-bottom:20px;
	background:#F5F3F4;
	border-radius:10px;
	padding:5px;
	border:1px solid #ddd;
}
.home_sidepane .shopby .cont{
}
.home_sidepane h3{
	padding:7px 5px;
	text-transform: uppercase;
	border-bottom:1px solid #ddd;
}
.home_sidepane a{
	float:left;
	color:inherit;
	text-decoration:none;
	color:#444;
	margin:2px;
	border:1px solid #eee;
}
.home_sidepane a .raquo{
	float:right;
	color:#555;
	border-radius:7px;
	font-size:13px;
	padding:0px 3px;
	display:block;
/*	background:#85CDF7;*/
	background:#eee;
}
.home_sidepane a:hover{
	color:#ff9900;
	border-color:#ccc;
}
.home_sidepane .recentlysold{
	clear:both;
}
.home_sidepane .recentlysold a{
	float:none;
	padding:5px;
	display:block;
	border:0px;
	border-bottom:1px solid #ddd;
}
.home_sidepane .recentlysold a div{
	overflow:hidden;
	white-space:nowrap;
	width:90%;
}
.home_sidepane .waystoshop{
}
.home_sidepane .waystoshop a{
	float:none;
	border:0px;
	border-bottom:1px solid #eee;
	display:block;
	height:25px;
	padding:5px;
	padding-top:10px;
	font-weight:bold;
	font-size:110%;
}
.home_sidepane .waystoshop a:hover{
color:#996699;
}
.home_sidepane .waystoshop a .icon{
	float:left;
	width:40px;
	height:30px;
	padding-right:5px;
	margin:-5px 0px -10px -5px;
	margin-right:0px;
	background:url(../images/imgprick.png) no-repeat;
}
.home_sidepane .waystoshop a.brands .icon{
	background-position:-173px -450px;
}
.home_sidepane .waystoshop a.savings .icon{
	background-position:-117px -450px;
}
.home_sidepane .waystoshop a.favs .icon{
	background-position:-72px -450px;
}
.home_sidepane .waystoshop a.live .icon{
	background-position:-225px -450px;
}

.home_main{
	width:777px;
	float:left;
	margin-top:10px;
}
.home_main .deal{
	float:left;
	padding:5px 15px;
	width:163px;
	border-left:1px dashed #ccc;
	margin-bottom:15px;
	height:310px;
}
.home_main .deal a{
	color:inherit;
}
.home_main .deal h2{
	margin-bottom:15px;
	font-size:120%;
}
.home_main .deal h2 a{
	text-decoration:none;
}
.home_main .deal h2 a{
	color:#4C849F;
}
.home_main .deal h2 a:hover{
	text-decoration:underline;
}
.home_main .deal .img{
	height:160px;
	overflow:hidden;
}
.home_main .deal .cats a{
	display:block;
	border-bottom:1px solid #eee;
	padding:5px 0px;
	text-decoration:none;
	color:#222;
}
.home_main .deal .cats a:hover{
	color:#ff9900;
}
#trending_subscribe{
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 99999;
}
#trending_subscribe .cont{
	background:#222;
	padding-top:2px;
	margin:0px 10px;
	border-radius:10px 10px 0px 0px;
	border:1px solid #555;
	border-bottom:0px;
	padding-left:5px;
}
#trending_subscribe .slink{
	white-space: nowrap;
}
#trending_subscribe .slink a{
	color:#fff;
	text-decoration:none;
	display:block;
	padding:0px 1px;
}
#trending_subscribe .ts_subscr_cont{
white-space:nowrap;color:#fff;
padding:0px 0px 0px 15px;
}
#trending_subscribe .ts_subscr_cont input{
	margin-left:5px;
	font-size:11px;
	width:160px;
	background:#ffff44;
	border:1px solid #aaa;
	padding:2px 5px;
}
#trending_subscribe .slink a:hover{
	background:#000;
}
.trends_cont{
	padding:2px 0px 0px 0px;
}
.trends_cont .trends{
	padding:2px 0px 0px 0px;
}
.trends_cont .trends .trending{
	position:relative;
	overflow:hidden;
	margin-left:10px;
}
.trends_cont .trends_head{
	color:#FFED00;
	font-size:120%;
	float:left;
	font-weight:bold;
}
.trends_cont .trending a{
	display:inline-block;
	padding:3px;
	text-decoration:none;
	color:#ccc;
	font-size:90%;
	margin-left:5px;
	margin-right:10px;
}
.trends_cont .trending a:hover{
	color:#1A93DA;
}
.inner_deals_cont{
margin-left:25px;
width:765px;
float:left;
}
.search_fltr_box{
max-height:414px;
overflow:hidden;
padding-right:7px;
}
.search_fltr_box .scont{
}

.menu_page_banner{
	clear:both;
	padding-bottom:5px;
}

.yellowlink{
    background: none repeat scroll 0 0 #FFED00;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    display: block;
    float: right;
    margin-top: 2px;
    padding: 5px 10px !important;
}

ol.faqs{
	margin-left:10px;
	font-size:11px;
}
ol.faqs li{
	margin-bottom:7px;
}
ol.faqs .q{
	font-weight:bold;
	cursor:pointer;
}
ol.faqs .a{
	width:700px;
	background:#f9f9f9;
	padding:5px;
	border:1px solid #aaa;
	display:none;
}
.grad_button{
	background:-moz-linear-gradient(center top , #3881A7, #245A77) repeat scroll 0 0 #2C6A8B;
	background-color:#2C6A8B;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	font-size:13px;
	border:0px;
	border-radius:5px;
	display:inline-block;
	padding:3px 7px;
	cursor:pointer;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.notifyme{
	background:#eee;
	display:inline-block;
	border:1px solid #ccc;
	padding:5px 7px;
	margin:5px;
}
.notifyme div{
	padding:4px;
}
.cashback{
	float:left;
	font-size:80%;
	padding:4px;
	padding-left:23px;
	padding-right:5px;
	background:#eee url(../images/exclaim.png) 4px 3px no-repeat;
	border-radius:3px;
}
.horibar{
	border:1px solid #bbb;
	border-width:1px 0px 1px 0px;
	height:1px;
	clear:both;
	margin-bottom:15px;
}
	
.footercont{
clear:both;
padding-bottom:50px;
padding-top:20px;
margin-top:50px;
border-top:1px solid #ccc;
background-color:#fafafa;
background-image: linear-gradient(bottom, rgb(255,255,255) 76%, rgb(238,238,238) 100%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 76%, rgb(238,238,238) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 76%, rgb(238,238,238) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 76%, rgb(238,238,238) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 76%, rgb(238,238,238) 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.76, rgb(255,255,255)),
	color-stop(1, rgb(238,238,238))
);
}

.footer h3{
	margin-bottom:5px;
}
.footer .tags_trending{
}
.footer .tags_trending h3{
	padding:7px 7px 0px 7px;
}
.footer .tags_trending .cont{
	height:120px;
	overflow:hidden;
}
.footer .tags_trending a{
	display:block;
	float:left;
	color:#888;
	padding:5px;
	margin:0px 3px;
	border-radius:5px;
	text-decoration:none;
	white-space:nowrap;
	overflow:hidden;
}
.footer .tags_trending a:hover{
	background:#eee;
	color:#000;	
}
.footer .history{
	padding-bottom:20px;
}
.footer .title_cont{
	height:120px;
	float:left;
}
.footer .history .title, .footer .tags_trending .title{
	background:#fff;
	color:#000;
	font-weight:bold;
	font-size:13px;
	float:left;
	margin-right:5px;
	margin-top:40px;
	margin-bottom:30px;
	padding:10px 5px;
	border-radius:0px 5px 5px 0px;
	border:1px solid #ddd;
	border-left:0px;
	padding-right:20px;
	text-align:right;
	width:130px;
}
.footer .history .title a{
	color:inherit;
	text-decoration:none;
}
.footer .history a.item{
	float:left;
	margin:4px;
	border:1px solid #ddd;
	height:50px;
	padding:1px;
	background:#fff;
}
.footer .history a.item:hover{
	border:1px solid #ccc;
}
.footer .fblikebox{
	float:right;
	width:240px;
	background:#fff;
}
.footer .left{
	float:left;
	width:720px;
}
.footer .sitedescription{
	font-size:85%;
	clear:both;
	padding:10px 0px;
}
.footer .copyright{
font-weight:bold;margin-top:10px;font-size:90%;
}
.footer .ftlinks_cont{
	clear:both;
padding-top:20px;padding-bottom:20px;font-size:80%;
margin-left:160px;
}
.snaplive{
	padding-top:10px !important;
}
.snaplive .item{
	position:absolute;
	border:1px dotted #aaa;
	margin:5px;
	float:left;
	width:206px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#fff;
}
.snaplive .item .brdrcont{
	border:1px solid #bbb;
	padding:5px;
}
.snaplive .item .pic{
	text-align:center;
}
.snaplive .item .name{
}
.snaplive .item .scbutts{
	height:30px;
}
.snaplive .item .scbutts .cont{
	padding-top:5px;
	display:none;
}
.snaplive .item .fb{
	width:50px;
	overflow:hidden;
	float:left;
}
.snaplive .timecont{
	background:#eee;
	border-top:1px solid #bbb;
	margin:0px -5px -5px -5px;
	padding:5px;
	color:#444;
}
.snaplive .headtxt{
	padding:7px;
	background:#fff;
}

.snaplive .timecont img{
float:left;margin-right:5px;margin-top:-2px;
}
.snaplive .highltitem{
	border-color:#ffaa00;
}
.snaplive .highltitem .timecont{
	background:#ffaa00;
	color:#fff;
}

.profile_loyaltypoints{
	float:right;
	border:1px solid #ff9900;
	background:#ffee00;
	padding:5px 10px;
	font-size:80%;
	margin:5px;
}
.profile_loyaltypoints h4{
	padding:0px;
	margin:0px;
}
.profile_loyaltypoints h4 span{
	font-size:130%;
}

#sidepopper{
    background-color: #FFFFFF;
    border:1px solid #000000;
    box-shadow: 0 0 10px #555555;
    margin: 10px 0 0 10px;
    padding:7px;
    padding-left: 35px;
    position:fixed;
    bottom:25px;
    left:-360px;
    z-index:100000;
    width:300px;
    cursor:pointer;
}
#sidepopper .head{
	font-size:85%;
	text-transform:uppercase;
	padding-bottom:5px;
	font-weight:bold;
}
#sidepopper .butt{
	text-align:right;
}
#sidepopper .butt a{
	color:#777;
	font-size:80%;
	text-decoration:none;
}
#sidepopper .head .close{
	float:right;
	display:block;
	padding:3px;
	margin-top:-5px;
}
#sidepopper .sidepoppercont{
	padding:3px 7px;
}
#sidepopper .sidepoppercont .url{
	float:left;
	padding-right:5px;
}
#sidepopper .sidepoppercont h4{
	padding-bottom:10px;
}
#sidepopper .sidepoppercont h5{
	color:#5475AC;
	font-size:105%;
}
#sidepopper .sidepoppercont h5 img{
	padding-left:5px;
}
#sidepopper .sidepoppercont h6{
	text-decoration:line-through;
	color:#888;
	font-size:90%;
	font-weight:normal;
}
.foretop .logo_cont{
	float:left;
	padding:4px 30px 0 25px;
}
.foretop .foretopmenu{
	float:left;
	padding-left:30px;
}
.foretop .foretopmenu ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.foretop .foretopmenu ul li{
	float:left;
}
.foretop .foretopmenu ul li a{
	display:block;
	width:50px;
	text-align:center;
	padding:10px 10px 7px 10px;
	text-decoration:none;
	color:#fff;
	border-right:1px dotted #aaa;
}
.foretop .foretopmenu ul li a .icon{
	margin-left:10px;
	margin-bottom:5px;
	width:27px;
	height:25px;
	background:url(../images/imgprick.png) no-repeat;
}
.foretop .foretopmenu ul li a.featured{
	border-left:1px dotted #aaa;
}
.foretop .foretopmenu ul li a.featured .icon{
	background-position:-48px -85px;
}
.foretop .foretopmenu ul li a.health .icon{	
	background-position:-60px -260px;
	width:48px;
	margin-left:5px;
}
.foretop .foretopmenu ul li a.savings .icon{	
	background-image:url(../images/icon_menu/savings_white.png);
}
.foretop .foretopmenu ul li a.favs{	
	background-image:url(../images/icon_menu/fav5_white.png);
}
.foretop .foretopmenu ul li a.discovery .icon{	
	background-position:-48px -148px;
}
.foretop .foretopmenu ul li a.gift .icon{	
	background-position:-134px -148px;
}
.foretop .foretopmenu ul li a.beauty .icon{	
	background-position:-67px -294px;
}
.foretop .foretopmenu ul li a.live .icon{	
	background-position:-68px -330px;
}
.foretop .foretopmenu ul li a.shop .icon{	
	background-position:-48px -115px;
}
.foretop .foretopmenu ul li a.searchfore{	
	background-image:url(../images/icon_menu/search_white.png);
}
.foretop .foretopmenu ul li a.headtotoe .icon{
	background-position:-48px -178px;	
}
.foretop .foretopmenu ul li:hover a,.foretop .foretopmenu ul li a.selected{
	background-color:#FFF;
	color:#000;
}
.foretop .foretopmenu ul li a.featured:hover .icon,.foretop .foretopmenu ul li a.featuredselected .icon{
	background-position:0px -85px;
}
.foretop .foretopmenu ul li a.health:hover .icon,.foretop .foretopmenu ul li a.healthselected .icon{
	background-position:-117px -260px;
}

.foretop .foretopmenu ul li:hover a.shop .icon,.foretop .foretopmenu ul li a.shopselected .icon{
	background-position:0px -115px;
}
.foretop .foretopmenu ul li:hover a.beauty .icon,.foretop .foretopmenu ul li a.beautyselected .icon{
	background-position:-123px -294px;
}
.foretop .foretopmenu ul li a.savings:hover,.foretop .foretopmenu ul li a.savingsselected{
	background-image:url(../images/icon_menu/savings_black.png);
}
.foretop .foretopmenu ul li a.favs:hover,.foretop .foretopmenu ul li a.favsselected{	
	background-image:url(../images/icon_menu/fav5_black.png);
}
.foretop .foretopmenu ul li a.discovery:hover .icon,.foretop .foretopmenu ul li a.discoveryselected .icon{
	background-position:0px -148px;
}
.foretop .foretopmenu ul li a.gift:hover .icon,.foretop .foretopmenu ul li a.giftselected .icon{
	background-position:-92px -148px;
}
.foretop .foretopmenu ul li a.live:hover .icon,.foretop .foretopmenu ul li a.liveselected .icon{
	background-position:-124px -330px;
}
.foretop .foretopmenu ul li a.searchfore:hover,.foretop .foretopmenu ul li a.searchforeselected{
	background-image:url(../images/icon_menu/search_black.png);
}
.foretop .foretopmenu ul li:hover a.headtotoe .icon,.foretop .foretopmenu ul li a.headtotoeselected .icon{
	background-position:0px -178px;	
}
.foretop .foretopmenu ul li.headtotoe ul{
	width:120px;
}
.foretop .foretopmenu ul li.headtotoe ul a{
	width:90px;
}
.foretop .foretopmenu ul li ul{
	display:none;
	width:300px;
	position:absolute;
	z-index:221342;
	background:#1F1F1F;
	padding:10px 5px;
}
.foretop .foretopmenu ul li ul li{
	float:left;
	width:150px;
}
.foretop .foretopmenu ul li ul a{
	display:block;
	text-align:left;
	width:120px;
	margin:0px 5px;
	padding:3px 5px;
	color:#fff;
	background:#1F1F1F;
	border:0px;
	border-bottom:1px dotted #888;
}
.foretop .foretopmenu ul li:hover ul a:hover{
	background:#1F1F1F;
	color:#FF51A6;
}
.foretop .foretopmenu ul li:hover ul{
	display:block;
}
.foretop .foretopmenu ul li:hover ul li a{
	background:#1F1F1F;
	color:#fff;
}
.foretop .foretopmenu ul li ul li.products_c{
width:300px;color:#ddd;font-weight:bold;padding:5px 0px 0px 10px;
}
.featuredland{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
/*	
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#DDDDDD', Direction=315, Strength=5)
	progid:DXImageTransform.Microsoft.Shadow(color='#DDDDDD', Direction=133, Strength=5);
	box-shadow:0 0 15px 0 #CCCCCC;
	border:1px solid #ccc;
	*/
	padding:10px;
	margin:10px 0px;
	margin-bottom:15px;
	width:960px;
}
.featuredland .discover_tagline,.links .discover_tagline{
	float:right;
	width:295px;
	margin-top:3px;
	height:29px;
	background:url(../images/imgprick.png) -3px -357px no-repeat;
}
.featuredland h1{
	font-weight:normal;
}
.featuredtilescont{
	padding-top:7px;
}
.featuredtilescont .experts{
	float:right;
	width:210px;
	height:28px;
	background:url(../images/imgprick.png) -3px -385px no-repeat;
}
.featuredtiles{
	clear:both;
	padding-top:15px;
}
.featuredtiles .tile{
	width:298px;
	float:left;
	border:2px solid #fff;
	margin:6px;
	cursor:pointer;
	margin-bottom:20px;
}
.featuredtiles .tile .title{
	background:#111;
	color:#fff;
	padding:10px 10px;
	opacity:0.6;
	filter:alpha(opacity=60);
	white-space:nowrap;
	height:30px;
	overflow:hidden;	
}
.featuredtiles .tile .title a{
	color:#fff;
	text-decoration:none;
	display:block;
	width:240px;
}
.featuredtiles .tile .title a .brand{
	font-size:75%;
}
.featuredtiles .tile_hover{
	border:2px solid #eee;
}
.featuredscroll{
	padding:10px 0px 0px 0px;
	border-bottom:1px solid #ccc;
	margin-bottom:3px;
}
.featuredscroll .left, .featuredscroll .right, .featuredscroll .holder{
	height:120px;
}
.featuredscroll .left, .featuredscroll .right{
	background:#2A2A29;
	width:35px;
	float:left;
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	border-radius: 5px 0px 0px 5px;
}
.featuredscroll .right{
	float:right;
	border-radius: 0px 5px 5px 0px;
	margin-right:19px;
}
.featuredscroll .left .cont, .featuredscroll .right .cont{
	margin:45px 0px;
	padding:5px 5px;
	font-size:130%;
	background:#B2B3B3;
	font-weight:bold;
}
.featuredscroll .left .cont{
	margin-right:3px;
	border-radius:0px 15px 15px 0px;
}
.featuredscroll .right .cont{
	margin-left:3px;
	border-radius:15px 0px 0px 15px;
	padding-left:15px;
}
.featuredscroll .left:hover .cont, .featuredscroll .right:hover .cont{
	background:#777;
	color:#fff;
}
.featuredscroll .holder{
	width:865px;
	overflow:hidden;
	white-space:nowrap;
	position:absolute;
	margin-left:38px;
}
.featuredscroll .holder .tile{
	width:118px;
	overflow:hidden;
	margin:0px 2px;
	position:absolute;
}
.featuredscroll .holder .tile a{
text-decoration:none;
}
.featuredscroll .holder .tile .overlay{
	background:#000;
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	filter:alpha(opacity=70);
	margin-top:-30px;
	color:#fff;
	font-size:112%;
	font-weight:bold;
	padding:5px;
	padding-top:10px;
	height:25px;
	left:0px;
	bottom:0px;
	position:absolute;
	white-space:nowrap;
	width:100%;
}
.featureditem{
	padding-top:30px;
}
.featureditem .pic{
	float:left;
	width:400px;
	overflow:hidden;
	position:relative;
}
.featureditem .details{
	float:left;
	width:570px;
	padding-left:10px;
}
.featureditem .details .brandname{
	font-weight:normal;
	color:#888;
}
.featureditem .details .pricedetails{
	border:1px dotted #777;
	border-width:1px 0px 1px 0px;
	padding:3px 0px;
	margin-top:15px;
}
.featureditem .details .pricedetails .inside{
	border:1px dotted #777;
	padding:10px 0px;	
	border-width:1px 0px 1px 0px;
}
.featureditem .details .pricedetails .price{
	float:left;
}
.featureditem .details .pricedetails .price h3{
	color:#999;
	font-weight:normal;
	text-decoration:line-through;
}
.featureditem .details .pricedetails .qty{
	float:left;
	margin-left:50px;
	margin-top:5px;
	color:#888;
	font-size:110%;
}
.featureditem .details .pricedetails .qty select{
	border:1px solid #aaa;
	border-radius:5px;
	padding:5px 10px;
}
.featureditem .details .description{
	padding-top:20px;
	font-size:110%;
}
.featureditem .details .cartcont{
	float:right;
	margin-top:5px;
	margin-right:10px;
}
.featureditem .details .cartcont .cart{
	display:block;
background:#CC0020;
color:#fff;
padding:5px 15px;
border-radius:5px;
}
.featureditem .reviewcontpar{
	padding-top:15px;
}
.featuredproducts{
}
.featuredproducts .tile .snapit_tile{
	position:absolute;
	z-index:23211;
	display:none;
	margin-left:172px;
}
.featuredproducts .tile .snapit_tile img{
	float:left;
}
.featuredproducts .tile h3{
	margin-bottom:5px;
}
.featuredproducts .top{
	background:#111;
	color:#fff;
	padding:15px 13px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: -46px;
    opacity: 0.8;
	filter:alpha(opacity=80);
}
.featuredproducts .top a{
	color:#fff;
	text-decoration:none;
}
.featuredproducts .top .price{
	font-size:150%;
	border-top:1px dotted #ccc;
	margin-top:12px;
    font-weight: bold;
    padding: 2px 0;
 	line-height: 22px;
	font-size: 22px;   
}
.featuredproducts .top .snaparrow{
    float: right;
    margin-right: 3px;
    margin-top: 3px;
}
.featuredproducts .img{
	width:296px;
	height:295px;
	overflow:hidden;
	text-align:center;
}
.featuredproducts .tile .top h3 a{
	display:block;
	width:270px;
	overflow:hidden;
	white-space:nowrap;
	font-weight: normal;
	line-height: 14px;
}
.featuredbanners{
	float:right;
	border-bottom:1px solid #ddd;
	padding:7px 5px 10px 7px;
}
.featuredbanners .banner{
	float:left;
	margin-right:6px;
	padding:5px;
	border:1px solid #ddd;
}
.featured_menu{
	background:#f8f8f8;
	padding:10px 5px 10px 10px;
	margin:10px;
	float:right;
	width:690px;
}
.featured_menu .cont{
	float:left;
	width:230px;
}
.featured_menu .cont .deal{
	float:left;
	background:#fff;
	width:200px;
	padding:15px 10px 20px 10px;
	filter:
 	progid:DXImageTransform.Microsoft.Shadow(color='#eeeeee', Direction=315, Strength=1)
	progid:DXImageTransform.Microsoft.Shadow(color='#eeeeee', Direction=133, Strength=1);
	box-shadow:0 0 3px #CCCCCC;
	margin-bottom:10px;
}
.featured_menu .cont .deal h2{
	text-align:center;
	padding:5px;
	font-size:130%;
}
.featured_menu .cont .deal h2 a{
	text-decoration:none;
	color:#606060;
	text-transform:uppercase;
}
.featured_menu .cont .deal .cats{
	margin:0px 30px;
	margin-top:20px;
}
.featured_menu .cont .deal .cats a{
	text-decoration:none;
	display:block;
	padding:5px 10px;
	color:#555;
	text-align:center;
	border-bottom:1px dotted #aaa;
}
.featured_menu .cont .deal .cats a:hover{
	background:#eee;
	color:#000;
}
.search_right{
	right:0px;
	position:fixed;
	top:200px;
	background:#fff;
	overflow:hidden;
	width:30px;
	height:60px;
	box-shadow:0 5px 5px -4px rgba(0, 0, 0, 0.4);
	z-index:434331;
}
.search_right .cont{
}
.search_right .cont .head{
	color:#FFED00;
	background:#333;
	font-weight:bold;
	padding:5px 7px;
	font-size:105%;
	white-space:nowrap;
}
.search_right .cont .head .close{
	float:right;
	color:#fff;
	text-decoration:none;
}
.search_right .link{
	width:30px;
	height:100px;
	cursor:pointer;
	top:180px;
	right:0px;
	position:fixed;
	background:url(../images/imgprick.png) -6px -246px no-repeat;
}
.search_right .subscribe{
	background:#F0F0F0;
	border:1px solid #ccc;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:15px;
	margin:7px;
}
.sub_expanded{
	border:1px solid #aaa;
	border-right:0px;
}
.search_right .share{
	padding:10px;
	font-weight:bold;
}
.search_right .share a{
	color:#212;
}
.search_right .trending{
	border:1px dashed #ccc;
	width:390px;
	height:200px;
	clear:both;
	margin:10px;
	margin-top:20px;
}
.search_right .trending .head{
	background:#fff;
	color:red;
	padding:3px;
	font-size:100%;
}
.search_right .trending .tcont{
	border-radius:3px;
	padding:7px;
	height:190px;
	overflow:hidden;
}
.search_right .trending a{
	display:inline-block;
	padding:2px 7px;
	margin:2px;
	background:#eee;
	color:#777;
	border-radius:3px;
	text-decoration:none;
}
.search_right .trending a:hover{
	color:#444;
}
.signin_side_cont{
 float:left;
 width:200px;
 text-align:left;
background:#F1F6F8;
padding:10px;
}
.signin_side{
	height:250px;
}
.signin_side h2{
	background:#D6E9F1;
	margin:-10px 0px 10px -10px;
	padding:5px;
}
.foretop_profile{
	color:#fff;
	padding:4px;
	display:inline-block;
	text-decoration:none;
	margin:0px 5px;
	margin-top:-3px;
	font-weight:bold;
}
.foretop_profile .img{
	display:inline-block;
	border-left:1px dashed #aaa;
	margin-left:3px;
	padding-left:3px;
}
.foretop .profile_popup{
	display:none;
	background:#1F1F1F;
	padding:3px;
	width:120px;
	z-index:4944303;
	position:absolute;
	margin-left:113px;
	margin-top:20px;
}
.foretop .profile_popup a{
	display:block;
	padding:7px 5px;
	border-bottom:1px dashed #777;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}
.foretop .profile_popup a:hover{
	color:#FFED00;
}

.claim_side_help{
	float:right;width:300px;background:#eee;padding:15px;padding-left:25px;margin-top:20px;
}
.claim_side_help li{
	padding:3px;
}
.signup_alone{
	margin:50px 150px;
}
.signup_alone .signup_text{
	margin:20px 0px;
	font-size:110%;
}
.signup_alone .signup_text .bold{
	font-weight:bold;
	font-size:120%;
	margin-bottom:10px;
}

.bodyparts{
margin-top:10px;
background:#fff;
border:1px solid #ccc;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
padding-bottom:30px;
border-radius:5px;
padding-top:15px;
}
.bodyparts .window{
width:690px;
margin-left:3px;
padding:7px;
height:167px;
position:relative;
border-top:1px solid #7F71B1;
overflow:hidden;
background:#f1f1f1;
}
.bodyparts .window .wind_deal{
background:#fff;
position:absolute;
cursor:pointer;
height:160px;
overflow:hidden;
width:160px;
padding:3px;
border:1px solid #ccc;
}
.bodyparts .window .wind_deal .name{
	opacity:0.8;
	filter:alpha(opacity=80);
	padding:5px;
	color:#fff;
	width:160px;
	background:#000;
	margin:0px -5px;
}
.bodyparts .window .wind_deal img{
width:160px;
max-height:160px;
}
.bodyparts .cartcont .img img{
	width:170px;
}
.bodyparts .window .wind_deal .name, .bodyparts .cartcont .name{
height:33px;
overflow:hidden;
}
.bodyparts .window .wind_deal .mrp{
display:none;
}
.bodyparts .cartcont .mrp a{
	float:right;
	font-size:80%;
	color:#fff;
}
.bodyparts .window .wind_deal .img, .bodyparts .cartcont .img{
	height:160px;
	width:170px;
	overflow:hidden;
}
.bodyparts .window .wind_deal .overlay, .bodyparts .cartcont .overlay{
	font-size:90%;
	padding:0px 5px;
	margin:-3px;
	margin-top:-40px;
	height:50px;
	overflow:hidden;
	background:#000;
	color:#fff;
	opacity:0.6;
	filter:alpha(opacity=80);
}
.bodyparts .overlay .name,.bodyparts .overlay .mrp{
	height:20px;
	overflow:hidden;
}
.bodyparts .overlay .name{
	height:30px;
}
.bodyparts .nextprev{
font-size:11px;
background:#FFED00;
padding:2px 5px;
color:#444;
-moz-border-radius:3px;
border-radius:3px;
text-decoration:none;
display:inline-block;
margin-left:5px;
margin-bottom:3px;
min-width:60px;
text-align:center;
}
.bodyparts .nextprev:hover{
background:#70A42C;
color:#fff;
}
.bodyparts .nextprevdis{
background:#eee !important;
color:#777 !important;
}
.bodyparts .window .cont{
position:relative;
}
.bodyparts .windowtable{
margin-top:10px;
border-right:1px solid #ccc;
width:700px;
background:#fff;
}
.bodyparts .windowtable h2{
font-size:110%;
margin-top:10px;
padding:3px 7px;
}
.bodyparts .windowtable .prevnext{
float:right;
}
.bodyparts .wind_deal_hover, .bodyparts .wind_deal_sel{
border:1px solid #ffaa00 !important;
}
.bodyparts .specialcart{
clear:both;
float:right;
margin-right:40px;
width:185px;
min-height:400px;
padding-left:5px;
padding-top:5px;
}
.bodyparts .cartcont{
height:165px;
margin-bottom:45px;
padding:5px;
background:#fff;
margin-right:5px;
border:1px solid #ccc;
}
.bodyparts .cartcont .empty{
background:#f1f1f1;
height:165px;
text-align:center;
color:#aaa;
}
.bodyparts .close{
margin-top:-12px;
margin-left:167px;
position:absolute;
display:none;
cursor:pointer;
}
.bodyparts .totalprice, .bodyparts .totalprice_bottom{
padding:5px 5px 5px 10px;
float:right;
font-size:110%;
color:#000;
background:#fff;
white-space:nowrap;
margin-right:5px;
width:290px;
padding:5px 5px 5px 10px;
}
.bodyparts .totalprice_bottom{
	padding:10px;
}
.bodyparts .totalprice .pricecont, .bodyparts .totalprice_bottom .pricecont{
display:inline;
}
.bodyparts .paycont{
	display:inline;
	text-align:center;
	font-size:80%;
	font-weight:bold;
}
.bodyparts .paycont .pay{
	color:#000;
	display:inline-block;
	font-size:110%;
	padding:5px 7px;
	border-radius:30px;
	background:#FFED00;
}
.bodyparts .totalprice .instant_checkout{
display:inline-block;
}
.bodyparts .totalprice .instant_checkout img{
margin-bottom:-7px;
}
.bodyparts .price_counter{
display:inline-block;
color:#000;
padding:2px 3px;
background:#eee;
font-size:120%;
min-width:60px;
}
.bodyparts .price_counter .price{
font-weight:bold;
font-size:110%;
}
.bodyparts .totalprice_rem{
position:fixed;
right:0px;
top:0px;
margin-right:0px;
z-index:123214;
border:1px solid #aaa;
border-width:0px 1px 1px 1px;
}
#header_menu_cont{
	display:none;
}
/*
.header_searchbar{
	padding:15px 10px;
	margin:15px 0px 15px;
	border-radius:10px;
	background:#fff;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#DDDDDD', Direction=315, Strength=5)
	progid:DXImageTransform.Microsoft.Shadow(color='#DDDDDD', Direction=133, Strength=5);
	-moz-box-shadow:0 0 8px #CCCCCC;
	-webkit-box-shadow:0 0 8px #CCCCCC;
	-o-box-shadow:0 0 8px #CCCCCC;
	box-shadow:0 0 8px #CCCCCC;
	border:1px solid #fff;
	border-width:1px 0px;
}*/
.header_searchbar{
	padding:2px;
}

.header_searchbar .search{
	float:right;
	margin-left:5px;
}
.header_searchbar .search .sugstsrch_onoff_cont{
	margin-left:0px;
	color:#aaa;
	display:none;
	margin-bottom:-7px;
}
.header_searchbar .search .sugstsrch_onoff_cont label{
	cursor:pointer;
}
.header_searchbar .links{
	float:right;
	margin-left:10px;
	margin-top:3px;
}
.header_searchbar .links a{
	display:block;
	float:left;
	margin:5px 10px 0px 5px;
	width:125px;
	height:20px;
	background:url(../images/imgprick.png) no-repeat;
}
.header_searchbar .links a.fav{
	background-position:-3px -7px;
}
.header_searchbar .links a.savings{
	background-position:-3px -33px;
	width:135px;
}
.header_searchbar .links a.brands{
	width:80px;
	background-position:-13px -56px;
}
.search .srchinp{
	border:1px solid #A9B5CC;
	border-right:0px;
	padding:5px 10px;
	width:320px;
	color:#777;
	height:20px;
	font-size:13px;
	float:left;
	-webkit-border-radius:7px 0px 0px 7px;
	-o-border-radius:7px 0px 0px 7px;
	-moz-border-radius:7px 0px 0px 7px;
	border-radius:7px 0px 0px 7px;
}
.search .srchbutt{
	height:32px;
	background:#996699;
	color:#fff;
	width:67px;
	padding:0px 15px;
	font-weight:bold;
	border:0px;
	-webkit-border-radius:0px 7px 7px 0px;
	-moz-border-radius:0px 7px 7px 0px;
	-o-border-radius:0px 7px 7px 0px;
	border-radius:0px 7px 7px 0px;
}
.header_searchbar .search .smenu{
	display:block;
	float:left;
	width:116px;
	height:15px;
	overflow:hidden;
	font-size:120%;
	padding:5px;
	padding-right:0px;
	margin-right:7px;
	background:#fff;
	border:1px solid #ccc;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#444;
	white-space:nowrap;
	text-decoration:none;
}
.header_searchbar .search .smenu .icon{
	float:right;
	margin-top:-5px;
	width:27px;
	height:25px;
	display:block;
	background:url(../images/imgprick.png) -5px -417px no-repeat;
	-moz-border-radius:0px 3px 3px 0px;
	-o-border-radius:0px 3px 3px 0px;
	-webkit-border-radius:0px 3px 3px 0px;
	border-radius:0px 3px 3px 0px;
}

.header_searchbar .search .opened .icon{
	background-position:-56px -417px;
}
.header_searchbar .menu_list{
	background:#fff;
	z-index:954393;
	position:absolute;
	width:120px;
	border:1px solid #ccc;
	border-top:0px;
	display:none;
	-moz-border-radius:0px 0px 3px 3px;
	-o-border-radius:0px 0px 3px 3px;
	-webkit-border-radius:0px 0px 3px 3px;
	border-radius:0px 0px 3px 3px;
}
.header_searchbar .menu_list a{
	display:block;
	padding:5px 7px;
	color:#000;
	text-decoration:none;
	font-size:110%;
}
.header_searchbar .menu_list a:hover{
	background:#efefef;
}

.product_container{
	background:#fff;
	margin:10px 0px;
	padding:20px 15px;
	border:2px solid #ccc;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.product_container .imgcont, .product_container .tabscont{
	float:left;
}

.product_container .imgcont{
	width:450px;
	border-right:3px dotted #bbb;
	padding:10px 10px 10px 0px;
}
.product_container .tabscont{
	padding:10px;
	width:460px;
	overflow:hidden;
	color:#444;
}
.product_container .imgcont h1{
	color:#444;
	font-size:160%;
}
.product_container .product_image{
	padding:15px;
}
.product_container #photosvideos{
	background:#eee;
	padding:3px;
}
.product_container .tabscont .tabs{
	margin:0px;
	padding:10px 0px 0px;
	list-style:none;
	border-bottom:2px solid #3D3F41;
	height:26px;
	width:100%;
}

.product_container .tabscont .tabs .tab{
	float:left;
	margin:0px 5px;
	background:#3D3F41;
	color:#fff;
	border:1px solid #3D3F41;
	border-radius:7px 7px 0px 0px;
	height:26px;
	font-size:110%;
}
.product_container .tabscont .tabs .tab a{
	display:block;
	padding:5px 15px;
	text-align:center;
	color:inherit;
	font-weight:bold;
	width:100px;
	text-decoration:none;
}
.product_container .tabscont .tabs .revtab a{
	width:130px;
}
.product_container .tabscont .tabs .tabselected{
	background:#fff;
	color:#000;
	border-bottom-color:#fff;
}
.product_container .tabscont #info{
	border:0px;
	width:auto;
	margin:0px;
	padding:0px;
	color:#444;
	font-size:inherit;
	font-weight:normal;
}
.product_container .tabscont .instantcocont{
	padding-left:15px;
}
.product_container .tabscont .price{
	margin-top:20px;
	padding:0px 20px;
	font-size:160%;
}
.product_container .tabscont #infocnt .price b{
	color:#4D8237;
	font-size:120%;
}
.product_container .tabscont .pricedetails{
	padding:30px 0px 10px 0px;
}
.product_container .tabscont .pricedetails .col{
	width:150px;
	float:left;
	text-align:center;
	padding:10px 0px;
}
.product_container .tabscont .pricedetails .midcol{
	border:1px solid #aaa;
	border-width:0px 1px;
}	
.product_container .tabscont .pricedetails .col .value{
	font-size:160%;
	font-weight:bold;
}
.product_container .tabscont .description{
	clear:both;
	margin-top:20px;
	padding:10px;
}
.product_container .tabscont .description h3{
	margin:0px;
	font-size:150%;
}
.product_container .tabscont .description .cont{
	padding:5px 10px;
	font-size:13px;
}
.product_container .tabscont #reviewscnt, .product_container .tabscont #buytogethercnt{
	display:none;
	padding:10px;
}
.product_container .related{
}
.product_container .related .item{
	padding:5px;
	background:#fafafa;
	border-bottom:1px solid #ddd;
}
.product_container .related .item .img{
	float:left;
	width:65px;
}
.product_container .related .item .name{
	float:left;
	width:200px;
	font-size:95%;
	padding-top:10px;
	overflow:hidden;
	height:35px;
}
.product_container .related .item .name a{
	color:inherit;
	text-decoration:none;
}
.product_container .related .item .price{
	padding-top:10px;
	font-weight:bold;
	color:red;
	float:left;
}
.product_container .related .item .select{
	float:right;
	background:#eee;
	padding:7px 5px;
}
.product_container .catbrand{
	padding-top:20px;
}
.product_container .catbrand div{
	padding-bottom:5px;
}
.product_container .writereview{
	padding-top:10px;
}
.product_container .writereview h3{
}
.product_container .writereview .txt{
	margin:10px 0px;
	clear:rightl
}
.product_container .writereview .txt textarea{
	height:70px;
}
.product_container .star_rating{
	float:right;
	padding-bottom:5px;
}
.product_container .qtycont{
	 margin:10px;
}
.product_container .qtycont select{
}
.product_container .instant_trig{
	display:block;
	padding:10px 0px;
	font-size:150%;
	width:130px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	background:#996699;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-align:center;
	cursor:pointer;
}
.product_container .instant_trig:hover{
	background:#6BA635;
}
.product_container .showlove{
	float:left;
}
.product_container .imgcont .showlove a, .product_container .imgcont .showlove img{
	float:right;
	display:block;
	margin:0px 5px;
}
.product_container .imgcont .social{
	float:right;
	padding:20px 0px;
}











.slider { width: 300px; min-height: 250px; display: block; position: relative; background: #fff; overflow: hidden; }
.slider ul { list-style: none; }
.slider-content { float: left; width: 100%; display: block; overflow: auto; min-height: 250px; }
.slider-content ul { float: left; width: 100%; display: block; position: relative; }
.slider-content ul li { float: left; width: 100%; }
.slider-content ul ul li a { padding: 5px 10px; display: block; border-bottom: 1px solid #f3f3f3; text-transform: capitalize; }
.slider-content ul ul li a:hover { background: #f3faff; border-color: #d5ebf9; }
.slider-content .title { padding: 5px 0; text-indent: 10px; background: #bbb; color: #fff; width: 100%; float: left; font-weight: bold; text-transform: uppercase; }
.slider-content .selected .title { background: #666; }
.slider .slider-nav { position: absolute; right: 0; top: 0; background: #666; min-height: 250px; }
.slider .slider-nav ul { padding: 5px 0; }
.slider .slider-nav li a { padding: 3px 5px; line-height: 13px; text-align: center; color: #fff; font-weight: bold; display: block; text-transform: uppercase; cursor: pointer; }
.slider #debug { position: absolute; bottom: 0; left: 0; padding: 5px; background: #000; color: #fff; }
.slider .arrow { font-size: 0px; line-height: 0%; width: 0px; border-bottom: 8px solid #fff; border-left: 5px solid #333; border-right: 5px solid #333; position: relative; top: 5px; }
.slider .down { border-bottom: none; border-top: 8px solid #fff; top: 15px; }
.slider .slide-up, .slider .slide-down { height: 20px; background: #333; text-align: center; cursor: pointer; float: right; width: 100%; position: relative; }



.checkout_buttn{
	background: url('../images/checkout.gif') no-repeat scroll 0px 0px;
	padding:14px 74px;
	height: 30px;
}
a.checkout_buttn:hover{
	background: url('../images/checkout.gif')  no-repeat scroll -150px 0px;
}
a.continue_buttn:hover{
	background: url('../images/checkout.gif')   no-repeat scroll -150px 0px;
}
.inputbox{
	background: url('../images/inputbox.gif') no-repeat scroll 0px -4px transparent;
    border: 1px solid #D1D0CF;
    color: #444;
    height: 20px;
    margin: 0;
    padding: 4px 3px 0;
    width: 138px;
    
}
.buttonstyle1{
 	background: none repeat scroll 0 0 #FFF;
    border-radius: 5px 5px 5px 5px;
    color: #4C849F;
    
    padding: 6px 15px;
    position: relative;
    text-decoration: none;
    top: -3px;
    border:2px solid #e3e3e3;
    font-weight: bold;
}
.buttonstyle1:hover{
		color:#3B59A9;
}
.c_help{
	float: right;font-size: 11px;color: #FFF;font-weight: bold;padding:5px;-moz-border-radius:10px;background: #aaa;cursor: pointer;
}
.paysel{
	border-bottom: 1px dotted #E3E3E3;
    border-right: 1px dotted #E3E3E3;
    float: left;
    height: 87px;
    padding: 15px 10px;
    width: 319px;
    background: #f9f9f9;
}
.paybycod{
	border-right: 0px dotted #E3E3E3  !important;
	float: none !important;
	clear:both;
	width:auto;
}

.o_itemcont_name{
 	padding:10px 0px;
 	color: #444;
 }
 .shoppingcart .offers .offer{
 	border:0px solid #e3e3e3;
 }
 .shoppingcart .offers h3{
 	background: none repeat scroll 0 0 #D8E3F0 !important;
 	font-size: 16px;
 	padding:6px;
 	text-align: left;
 	font-weight: normal;
 	color:#666;
 }
 
 #get_regis_text{
 	background: none repeat scroll 0 0 #FFFFF0;
    border: 1px dotted #CD0000;
    font-size: 13px;
    font-weight: normal;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    display: none;
 }
 .star{
 	color:#CD0000;
 	margin-left: 10px;
 }

 
 #cartpage-wrap{
	font-size:13px;
	overflow:hidden;
	margin:25px 0px 20px 0px;
	border:none;
	background: #FFF; 
}

#cartpage-wrap #fs_validation_text{
	background: none repeat scroll 0 0 #FFFFA0;
    color: #CD0000;
    display: block;
    font-size: 12px;
    margin: 5px 0;
    padding: 8px;
    text-align: center;
}
#cartpage-wrap  .star{
	margin-left: 1px !important;
}

#cartpage-wrap #carttab th,#carttab td{
text-align: center;
padding:5px;
}
#cartpage-wrap #carttab th{
padding:5px;
}
#cartpage-wrap .leftcont {
    float: left;
    padding: 5px 5px 20px;
    width: 710px;
}
#cartpage-wrap .shoppingcart .offers {
    float: right;
    margin-right: 10px;
    padding-top: 10px;
    width: 220px;
}
#cartpage-wrap .cart_itemdata td{
	border-bottom: 1px solid #e3e3e3;
	padding:10px 0px !important;
}
#cartpage-wrap #total_order_value{
	padding:2px;
	font-weight: bold;	
	
	color:#cd0000;
}
#cartpage-wrap #items_header{
	background: none repeat scroll 0 0 #f2f2f2 !important;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    text-align: left;
    color: #333;
    border-bottom: 4px dotted #e3e3e3;	
     
}
#cartpage-wrap #carttab{
	border:0px solid #eee;color:#767272;
}
#cartpage-wrap .cart_items_item_name{
	font-size: 12px !important;
	text-decoration: underline !important;
	color: #888 !important;
}

#cartpage-wrap #giftwrap_block{
	padding:10px;border:1px dotted #ccc;width: 90%;font-size: 14px;background: #F3F3F1;
}
#cartpage-wrap #giftwrap_block span.icon{
	background:url('../images/gift-wrap-icon.png') no-repeat scroll 0px 0px;padding:10px 18px;position: relative;top: 10px;
	margin-right: 20px;
}
#cartpage-wrap #giftwrap_block p{
	padding:0px;font-size: 10px;margin: 0 0 0 55px;
}
#cartpage-wrap .shoppingcart .useraccount{
	background-color: #FFFFD0 !important; 
}
#cartpage-wrap .shoppingcart{
	color: #777;
}
#cartpage-wrap .paysel{
	width: 302px !important;
	background: #FFF !important;
}
#cartpage-wrap .checkout_buttn{
	padding:15px 73px !important;
}
#cartpage-wrap .continue_buttn,.checkout_buttn{
	color: #FFF !important;
	text-indent: 99px;
}

#cartpage-wrap .continue_buttn {
   background: url('../images/checkout.gif') no-repeat scroll 0px 0px;
	padding:14px 73px;
    height: 30px;
    margin-right: 10px;
}

#cartpage-wrap .continue_buttn:hover {
   background: url('../images/checkout.gif')  no-repeat scroll -150px 0px;
}

.specialpage{
	padding:15px 10px;
}
.specialpage .product_left{
	width:460px;
	border-right:2px dotted #aaa;
	float:left;
	padding-right:10px;
	padding-bottom:30px;
}
.specialpage .product_left .product{
	margin-bottom:20px;
	clear:both;
}
.specialpage .product_left .head{
	font-size:180%;
	font-weight:bold;
	color:#000;
	padding-bottom:10px;
}
.specialpage .product_left .details{
	background:#eee;
	padding:7px;
	font-size:130%;
}
.specialpage .product_left .details .price{
	color:#3B306B;
	font-weight:bold;
	padding-bottom:5px;
	font-size:110%;
}
.specialpage .product_left .details .price span{
	font-weight:normal;
	color:#444;
}
.specialpage .product_left .details .instockava{
	font-size:90%;
	font-weight:bold;
	text-transform:uppercase;
}
.specialpage .cats{
	float:left;
	width:460px;
	margin-left:20px;
}
.specialpage .cats .cat{
	width:200px;
	height:200px;
	background:#fff center center no-repeat;
	float:left;
	margin:15px;
}
.specialpage .cats .cat a{
	display:block;
	width:200px;
	height:200px;
	text-decoration:none;
	padding-top:160px;
}
.specialpage .cats .cat a .overlay{
	background:url(../images/alpha.png);
	color:#fff;
	text-align:right;
	font-size:14px;
	font-weight:bold;
	text-transform: uppercase;
	height:20px;
	width:180px;
	padding:10px;
}